<!DOCTYPE html>
<html class="no-js" lang="<?= Yii::$app->language ?>" prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb#">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact us | My Simple Shop</title>
    <link rel="stylesheet" href="../../assets/fontawesome/css/all.css">
    <link rel="stylesheet" href="../../bootstrap.min.css">
    <link rel="stylesheet" href="../../main.core.min.css">
    <link rel="stylesheet" href="../assets/dist/css/preview.min.css">
</head>

<body>
    <header class="menu-c" data-spy="affix" data-offset-top="0">
        <nav class="navbar" role="navigation">
            <div class="container fluid-md-less">
                <div class="navbar-header">
                    <button class="navbar-toggle collapsed" title="Mobile menu" aria-label="Mobile menu" type="button" data-toggle="collapse" data-target="#menu" aria-expanded="false">
						<span class="sr-only"> Mobile menu </span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
                    <!--logo-->
                    <a class="navbar-brand" title="Go to home My Simple Shop" aria-label="Go to home My Simple Shop" href="./index.html">
                        <figure>
                            <picture>
                                <source srcset="../assets/images/logo-white.webp" type="image/webp">
                                <img src="../assets/images/logo-white.png" title="My Simple Shop Logo" alt="My Simple Shop Logo">
                            </picture>
                        </figure>
                    </a>
                    <!--/logo-->
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="menu" aria-expanded="false">
                    <a title="Go to home My Simple Shop" aria-label="Go to home My Simple Shop" href="./index.html">
                        <figure>
                            <picture>
                                <source srcset="../assets/images/logo-white.webp" type="image/webp">
                                <img class="img-responsive collapsed-brand" src="../assets/images/logo-white.png" title="My Simple Shop logo white" alt="My Simple Shop logo white">
                            </picture>
                        </figure>
                    </a>
                    <div class="hidden-md hidden-lg text-center mb30">
                        <div class="dropdown language">
                            <a class="dropdown-toggle text-white" role="button" data-toggle="dropdown" title="Spanish" aria-label="Spanish">
                                <img class="flag" src="../assets/images/flags/es.png" title="Spanish" alt="Spanish"> Spanish </a>
                            <a class="dropdown-toggle text-white" role="button" data-toggle="dropdown" title="English" aria-label="English">
                                <img class="flag" src="../assets/images/flags/en.png" title="English" alt="English"> English </a>
                            <ul class="dropdown-menu" aria-labelledby="dropdownLanguage">
                                <li class="">
                                    <a title="Spanish" aria-label="Spanish" href="">
                                        <img class="flag" src="../assets/images/flags/es.png" title="Spanish" alt="Spanish"> Spanish </a>
                                </li>
                                <li class="">
                                    <a title="English" aria-label="English" href="">
                                        <img class="flag" src="../assets/images/flags/en.png" title="English" alt="English"> English </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="hidden-md hidden-lg text-center mb30">
                        <div class="dropdown login">
                            <a title="User profile: Aron Smith" aria-label="User profile: Aron Smith" type="button" class="dropdown-toggle btn btn-gray-lighter" data-toggle="dropdown">
                                <span class="profile-letters"> AP </span>
                                <span> Aron Smith </span>
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="dropdownLogin">
                                <li>
                                    <a title="My account" aria-label="My account" role="button"> My account </a>
                                </li>
                                <li>
                                    <a title="Logout" aria-label="Logout" role="button"> Logout </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!--Menu-->
                    <ul class="nav navbar-nav navbar-center">
                        <li class="dropdown">
                            <a title="Home" aria-label="Home" href="./index.html"> Home </a>
                        </li>
                        <li class="dropdown">
                            <a title="About" aria-label="About" href="./about.html"> About </a>
                        </li>
                        <li class="dropdown">
                            <a title="Products" aria-label="Products" href="./indexProducts.html"> Products </a>
                        </li>
                        <li class="dropdown">
                            <a title="Blog" aria-label="Blog" href="./indexBlog.html"> Blog </a>
                        </li>
                        <li class="dropdown">
                            <a title="Contact" aria-label="Contact" href="./contacts.html"> Contact </a>
                        </li>
                    </ul>
                    <!--/Menu-->
                </div>
                <!--social-->
                <ul class="social original text-left-md text-left-lg hidden-sm hidden-xs">
                    <li>
                        <a aria-label="Share on social network" title="Share on social network" href="#">
                            <i class="fab fa-facebook"></i>
                        </a>
                    </li>
                    <li>
                        <a aria-label="Share on social network" title="Share on social network" href="#">
                            <i class="fab fa-google-plus"></i>
                        </a>
                    </li>
                    <li>
                        <a aria-label="Share on social network" title="Share on social network" href="#">
                            <i class="fab fa-twitter"></i>
                        </a>
                    </li>
                </ul>
                <!--/social-->
            </div>
        </nav>
    </header>
    <main class="wrapper">
        <!--breadcrumb-->
        <div class="breadcrumb-container breadcrumb-b">
            <section class="container fluid-md-less">
                <article class="row">
                    <header class="col-md-12">
                        <h2 class="big"> Contact <strong>us</strong>
                        </h2>
                        <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit <br> Asperiores atque, culpa cumque, exercitationem fuga harum. </p>
                    </header>
                    <footer class="col-md-12">
                        <nav class="navbar-breadcrumb">
                            <ol class="breadcrumb-list">
                                <li class="breadcrumb-item">
                                    <a title="Home" aria-label="Home" href="./index.html"> Home </a>
                                </li>
                                <li class="breadcrumb-item active"> Contact us </li>
                            </ol>
                        </nav>
                    </footer>
                </article>
            </section>
        </div>
        <!--/breadcrumb-->
        <!--contact-->
        <div class="section contact contact-f">
            <div class="container fluid-md-less">
                <section class="row">
                    <div class="col-sm-5 col-md-6 mb50-sm mb50-xs">
                        <article class="forms forms-b labeled">
                            <header>
                                <h1 class="big"> Send a <strong>message</strong>
                                </h1>
                            </header>
                            <aside class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input type="text" id="indexform-name" class="form-control" name="IndexFormName" placeholder="Enter your name" aria-required="true">
                                        <label class="control-label" hidden for="indexform-name"> Enter your name </label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input type="text" id="indexform-email" class="form-control" name="IndexFormEmail" placeholder="Enter your email" aria-required="true">
                                        <label class="control-label" hidden for="indexform-email"> Enter your email </label>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <input type="Number" id="indexform-phone" class="form-control" name="IndexFormPhone" placeholder="Enter your phone" aria-required="true">
                                        <label class="control-label" hidden for="indexform-phone"> Enter your phone </label>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <textarea id="message" class="form-control" name="IndexFormMessage" maxlength="250" rows="3" placeholder="What are your questions?" aria-required="true"></textarea>
                                        <label class="control-label" hidden for="message"> What are your questions? </label>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <div class="captcha-form">
                                            <input type="text" id="indexform-verifycode" class="form-control" name="IndexForm[verifyCode]" placeholder="Verify code" aria-invalid="true">
                                            <label class="control-label" hidden for="indexform-verifycode"> Verify code </label>
                                        </div>
                                        <figure>
                                            <picture>
                                                <source srcset="../assets/images/captcha.webp" type="image/webp">
                                                <img src="../assets/images/captcha.png" title="captcha" alt="captcha">
                                            </picture>
                                        </figure>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <a class="btn btn-primary btn-lg text-uppercase" title="Send message" alt="Send message" href="#"> Send message </a>
                                </div>
                            </aside>
                        </article>
                    </div>
                    <div class="col-sm-6 col-md-6">
                        <section class="feature feature-a lg center-sm center-xs">
                            <header>
                                <h2 class="big"> Before contacting <strong>us</strong>
                                </h2>
                                <p> Lorem ipsum dolor sit amet, consectetur adipisici elit, sed eiusmod tempor incidunt ut labore et dolore magna aliqua. Non equidem invideo, miror magis posuere velit aliquet. </p>
                            </header>
                            <article>
                                <aside class="icon rounded">
                                    <i class="fas fa-map-marked-alt"></i>
                                </aside>
                                <header class="content">
                                    <h2 class="title h3"> Address </h2>
                                    <p> La Marina ST. 35, Santa Cruz de Tenerife, Spain </p>
                                </header>
                            </article>
                            <article>
                                <aside class="icon rounded">
                                    <i class="fas fa-headset"></i>
                                </aside>
                                <header class="content">
                                    <h2 class="title h3"> Customer service </h2>
                                    <p>
                                        <strong> Mobile: </strong> +34 622 982 058 </p>
                                    <p>
                                        <strong> Phone: </strong> +34 922 982 058 </p>
                                    <p>
                                        <strong> Fax: </strong> +34 922 982 059 </p>
                                    <p>
                                        <strong> Mail: </strong>
                                        <a aria-label="Mail" title="Mail" role="button"> info@mysimpleShop.com </a>
                                    </p>
                                </header>
                            </article>
                        </section>
                    </div>
                </section>
            </div>
        </div>
        <!--/contact-->
        <!--map-->
        <section>
            <aside>
            </aside>
        </section>
        <!--/map-->
    </main>
    <footer class="footer footer-a">
        <div class="sub-footer">
            <div class="container fluid-md-less">
                <section class="row">
                    <aside class="col-md-4">
                        <a class="footer-brand" title="Go to home My Simple Shop" aria-label="Go to home My Simple Shop" href="./index.html">
                            <figure>
                                <picture>
                                    <source srcset="../assets/images/logo.webp" type="image/webp">
                                    <img class="img-responsive collapsed-brand" src="../assets/images/logo-white.png" title="My Simple Shop logo white" alt="My Simple Shop logo white">
                                </picture>
                            </figure>
                        </a>
                        <ul class="social original mt20">
                            <li>
                                <a aria-label="Share on social network" title="Share on social network" href="#">
                                    <i class="fab fa-facebook"></i>
                                </a>
                            </li>
                            <li>
                                <a aria-label="Share on social network" title="Share on social network" href="#">
                                    <i class="fab fa-google-plus"></i>
                                </a>
                            </li>
                            <li>
                                <a aria-label="Share on social network" title="Share on social network" href="#">
                                    <i class="fab fa-twitter"></i>
                                </a>
                            </li>
                        </ul>
                    </aside>
                </section>
            </div>
        </div>
        <div class="footer section">
            <div class="container fluid-md-less">
                <section class="row">
                    <article class="col-md-4">
                        <header>
                            <h2> About <strong>us</strong>
                            </h2>
                        </header>
                        <address>
							<div class="address">
								<p>
									<b>
										<i class="fas fa-map-marker-alt"></i> Address </b> : La Marina ST. 35, Santa
									Cruz de Tenerife, Spain </p>
							</div>
							<div class="address">
								<p>
									<b>
										<i class="fas fa-phone"></i> Tel </b> : +34 922 985 058 </p>
							</div>
							<div class="address">
								<p>
									<b>
										<i class="fas fa-mobile"></i> Cell </b> : +34 922 985 058 </p>
							</div>
							<div class="address">
								<p>
									<b>
										<i class="fas fa-fax"></i> Fax </b> : +34 922 985 058 </p>
							</div>
							<div class="address">
								<p>
									<b>
										<i class="fas fa-envelope"></i> Email </b> : <a title="Email"
										aria-label="Email"
										href="mailto: yonex27000@gmail.com"> yonex27000@gmail.com </a>
								</p>
							</div>
						</address>
                        <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab adipisci architecto aspernatur atque, delectus ducimus eum explicabo maxime, molestias officiis sapiente, sunt tenetur veritatis voluptates? </p>
                    </article>
                    <div class="col-md-4">
                        <header>
                            <h2> Latest blog <strong>post</strong>
                            </h2>
                        </header>
                        <article class="card card-news card-news-d">
                            <aside class="aspect-rectangular hover-scale">
                                <a title="Lorem ipsum dolor sit amet, consectetur" aria-label="Lorem ipsum dolor sit amet, consectetur" href="./viewBlog.html">
                                    <figure>
                                        <picture>
                                            <source srcset="../assets/images/news7.webp" type="image/webp">
                                            <img class="lazy-load" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==" data-original="../assets/images/news7.jpg" title="image title" alt="image description">
                                        </picture>
                                    </figure>
                                </a>
                            </aside>
                            <header class="content">
                                <h2 class="h5">
                                    <a title="Lorem ipsum dolor sit amet, consectetur" aria-label="Lorem ipsum dolor sit amet, consectetur" href="./viewBlog.html">
                                        <strong>Lorem ipsum dolor sit amet, consectetur.</strong>
                                    </a>
                                </h2>
                                <time class="date" datetime="2020-08-16T11:32:46+00:00"> Abr 26, 2020 </time>
                            </header>
                        </article>
                        <article class="card card-news card-news-d">
                            <aside class="aspect-rectangular hover-scale">
                                <a title="Lorem ipsum dolor sit amet, consectetur" aria-label="Lorem ipsum dolor sit amet, consectetur" href="./viewBlog.html">
                                    <figure>
                                        <picture>
                                            <source srcset="../assets/images/news8.webp" type="image/webp">
                                            <img class="lazy-load" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==" data-original="../assets/images/news8.jpg" title="image title" alt="image description">
                                        </picture>
                                    </figure>
                                </a>
                            </aside>
                            <header class="content">
                                <h2 class="h5">
                                    <a title="Lorem ipsum dolor sit amet, consectetur" aria-label="Lorem ipsum dolor sit amet, consectetur" href="./viewBlog.html">
                                        <strong>Lorem ipsum dolor sit amet, consectetur.</strong>
                                    </a>
                                </h2>
                                <time class="date" datetime="2020-08-16T11:32:46+00:00"> Abr 26, 2020 </time>
                            </header>
                        </article>
                        <article class="card card-news card-news-d">
                            <aside class="aspect-rectangular hover-scale">
                                <a title="Lorem ipsum dolor sit amet, consectetur" aria-label="Lorem ipsum dolor sit amet, consectetur" href="./viewBlog.html">
                                    <figure>
                                        <picture>
                                            <source srcset="../assets/images/news9.webp" type="image/webp">
                                            <img class="lazy-load" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==" data-original="../assets/images/news9.jpg" title="image title" alt="image description">
                                        </picture>
                                    </figure>
                                </a>
                            </aside>
                            <header class="content">
                                <h2 class="h5">
                                    <a title="Lorem ipsum dolor sit amet, consectetur" aria-label="Lorem ipsum dolor sit amet, consectetur" href="./viewBlog.html">
                                        <strong>Lorem ipsum dolor sit amet, consectetur.</strong>
                                    </a>
                                </h2>
                                <time class="date" datetime="2020-08-16T11:32:46+00:00"> Abr 26, 2020 </time>
                            </header>
                        </article>
                    </div>
                    <article class="col-md-4">
                        <header>
                            <h2> Subscribe <strong>newsletter</strong>
                            </h2>
                        </header>
                        <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium hic magnam nobis. </p>
                        <div class="input-group">
                            <label hidden for="subscribe"></label>
                            <input type="email" class="form-control" placeholder="Subscribe our newsletter" id="subscribe">
                            <span class="input-group-btn">
								<button class="btn btn-primary"
									type="submit">Subscribe</button>
							</span>
                        </div>
                        <?= $configWidget->facebook([
									'containerCss' => '',
									'urlFacebook'  => 'https://www.facebook.com/gmail.com',
									'title'        => 'My Simple Shop',
								]) ?>
                    </article>
                </section>
                <section class="row">
                    <article class="col-md-6">
                        <aside class="advice">
                            <?= $configWidget->advices(['conditions' => true]) ?>
                        </aside>
                    </article>
                    <article class="col-md-6">
                        <header class="copyright">
                            <p>
                                <?= $configWidget->copyright(['title' => 'My Simple Shop']) ?>
                            </p>
                            <p>
                                <?= $configWidget->by() ?>
                            </p>
                        </header>
                    </article>
                </section>
            </div>
        </div>
    </footer>

    <script src="../../assets/js/jquery.min.js"></script>
    <script src="../../assets/js/bootstrap.min.js"></script>
    <script src="../assets/dist/js/main.min.js"></script>
    <script src="../../assets/js/jquery/buttons.js"></script>

    <script src="../../assets/js/jquery/sidebar.js"></script>
</body>

</html>