<!DOCTYPE html>
<html class="no-js" lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Realistic tattoo | My Tattoo</title>
    <link rel="stylesheet"
        href="./fontawesome/css/all.css" />
    <link rel="stylesheet"
        href="./css/bootstrap.min.css" />
    <link rel="stylesheet"
        href="./css/main.core.min.css" />
    <link rel="stylesheet"
        href="./css/preview.min.css" />
    <link rel="stylesheet"
        href="./css/custom.css" />
</head>

<body>
    <header class="menu-b" data-spy="affix" data-offset-top="0">
        <nav class="navbar" role="navigation">
            <div class="container fluid-md-less">
                <div class="navbar-header">
                    <button class="navbar-toggle collapsed" title="Mobile menu" aria-label="Mobile menu" type="button" data-toggle="collapse" data-target="#menu" aria-expanded="false">
						<span class="sr-only"> Mobile menu </span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
                    <a class="navbar-brand" title="Go to home My Tattoo" aria-label="Go to home My Tattoo" href="./index.html">
                        <figure>
                            <picture>
                                <source srcset="./images/logo.webp" type="image/webp">
                                <img src="./images/logo.png" title="My Tattoo Logo" alt="My Tattoo Logo">
                            </picture>
                        </figure>
                    </a>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="menu" aria-expanded="false">
                    <a title="Go to home My Tattoo" aria-label="Go to home My Tattoo" href="./index.html">
                        <figure>
                            <picture>
                                <source srcset="./images/logo-white.webp" type="image/webp">
                                <img class="img-responsive collapsed-brand" src="./images/logo-white.png" title="My Tattoo logo white" alt="My Tattoo logo white">
                            </picture>
                        </figure>
                    </a>
                    <div class="hidden-md hidden-lg text-center mb30">
                        <div class="dropdown language">
                            <a class="dropdown-toggle text-white" role="button" data-toggle="dropdown" title="Spanish" aria-label="Spanish">
                                <img class="flag" src="./images/flags/es.png" title="Spanish" alt="Spanish"> Spanish </a>
                            <a class="dropdown-toggle text-white" role="button" data-toggle="dropdown" title="English" aria-label="English">
                                <img class="flag" src="./images/flags/en.png" title="English" alt="English"> English </a>
                            <ul class="dropdown-menu" aria-labelledby="dropdownLanguage">
                                <li class="">
                                    <a title="Spanish" aria-label="Spanish" href="">
                                        <img class="flag" src="./images/flags/es.png" title="Spanish" alt="Spanish"> Spanish </a>
                                </li>
                                <li class="">
                                    <a title="English" aria-label="English" href="">
                                        <img class="flag" src="./images/flags/en.png" title="English" alt="English"> English </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="hidden-md hidden-lg text-center mb30">
                        <div class="dropdown login">
                            <a title="User profile: Aron Smith" aria-label="User profile: Aron Smith" type="button" class="dropdown-toggle btn btn-gray-lighter" data-toggle="dropdown">
                                <span class="profile-letters"> AP </span>
                                <span> Aron Smith </span>
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="dropdownLogin">
                                <li>
                                    <a title="My account" aria-label="My account" role="button"> My account </a>
                                </li>
                                <li>
                                    <a title="Logout" aria-label="Logout" role="button"> Logout </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!--Menu-->
                    <ul class="nav navbar-nav navbar-left">
                        <li class="dropdown">
                            <a title="Home" aria-label="Home" href="./index.html"> Home </a>
                        </li>
                        <li class="dropdown">
                            <a title="About" aria-label="About" href="./about.html"> About </a>
                        </li>
                        <li class="dropdown">
                            <a title="Products" aria-label="Products" href="./indexGallery.html"> Works </a>
                        </li>
                        <li class="dropdown">
                            <a title="Blog" aria-label="Blog" href="./indexBlog.html"> Blog </a>
                        </li>
                        <li class="dropdown">
                            <a title="Contact" aria-label="Contact" href="./contacts.html"> Contact </a>
                        </li>
                    </ul>
                    <!--/Menu-->
                </div>
            </div>
        </nav>
    </header>
    <main class="wrapper">
        <!--breadcrumb-->
        <div class="breadcrumb-container">
            <section class="container fluid-md-less">
                <article class="row">
                    <header class="col-md-12">
                        <nav class="navbar-breadcrumb">
                            <ol class="breadcrumb-list">
                                <li class="breadcrumb-item">
                                    <a title="Home" aria-label="Home" href="./index.html"> Home </a>
                                </li>
                                <li class="breadcrumb-item active">
                                    <a title="Works" aria-label="Works" href="./indexGallery.html"> Works </a>
                                </li>
                            </ol>
                        </nav>
                    </header>
                </article>
            </section>
        </div>
        <!--/breadcrumb-->
        <!--album-->
        <div class="section gallery gallery-a">
            <div class="container-fluid">
                <section class="row">
                    <header class="col-sm-12 col-md-12">
                        <h2 class="lc big">
                            <small> See all of </small>
                            <strong> Realistic tattoo </strong>
                            <em> Here you can see the description of the album </em>
                        </h2>
                    </header>
                    <article class="col-sm-6 col-md-3">
                        <div class="card card-c">
                            <div class="aspect-square hover hover-h full middle center">
                                <div class="hover-content">
                                    <div class="overlay semi-transparent"></div>
                                    <header class="hover-body">
                                        <a class="open-gallery" data-title="Photo title" title="Photo title" aria-label="Photo title" data-caption="Photo description" data-options="skin: 'dark a-custom-class', thumbnail: '../assets/images/wgallery-demo1.jpg'" href="./images/wgallery-demo1.jpg">
                                            <i class="fas fa-search fa-5x"></i>
                                        </a>
                                    </header>
                                </div>
                                <figure>
                                    <picture>
                                        <source srcset="./images/wgallery-demo1.webp" type="image/webp">
                                        <img  src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==" data-original="./images/wgallery-demo1.jpg" title="Photo title" alt="Photo description">
                                    </picture>
                                </figure>
                            </div>
                        </div>
                    </article>
                    <article class="col-sm-6 col-md-3">
                        <div class="card card-c">
                            <div class="aspect-square hover hover-h full middle center">
                                <div class="hover-content">
                                    <div class="overlay semi-transparent"></div>
                                    <header class="hover-body">
                                        <a class="open-gallery" data-title="Photo title" title="Photo title" aria-label="Photo title" data-caption="Photo description" data-options="skin: 'dark a-custom-class', thumbnail: '../assets/images/wgallery-demo2.jpg'" href="./images/wgallery-demo2.jpg">
                                            <i class="fas fa-search fa-5x"></i>
                                        </a>
                                    </header>
                                </div>
                                <figure>
                                    <picture>
                                        <source srcset="./images/wgallery-demo2.webp" type="image/webp">
                                        <img  src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==" data-original="./images/wgallery-demo2.jpg" title="Photo title" alt="Photo description">
                                    </picture>
                                </figure>
                            </div>
                        </div>
                    </article>
                    <article class="col-sm-6 col-md-3">
                        <div class="card card-c">
                            <div class="aspect-square hover hover-h full middle center">
                                <div class="hover-content">
                                    <div class="overlay semi-transparent"></div>
                                    <header class="hover-body">
                                        <a class="open-gallery" data-title="Photo title" title="Photo title" aria-label="Photo title" data-caption="Photo description" data-options="skin: 'dark a-custom-class', thumbnail: '../assets/images/wgallery-demo3.jpg'" href="./images/wgallery-demo3.jpg">
                                            <i class="fas fa-search fa-5x"></i>
                                        </a>
                                    </header>
                                </div>
                                <figure>
                                    <picture>
                                        <source srcset="./images/wgallery-demo3.webp" type="image/webp">
                                        <img  src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==" data-original="./images/wgallery-demo3.jpg" title="Photo title" alt="Photo description">
                                    </picture>
                                </figure>
                            </div>
                        </div>
                    </article>
                    <article class="col-sm-6 col-md-3">
                        <div class="card card-c">
                            <div class="aspect-square hover hover-h full middle center">
                                <div class="hover-content">
                                    <div class="overlay semi-transparent"></div>
                                    <header class="hover-body">
                                        <a class="open-gallery" data-title="Photo title" title="Photo title" aria-label="Photo title" data-caption="Photo description" data-options="skin: 'dark a-custom-class', thumbnail: '../assets/images/wgallery-demo4.jpg'" href="./images/wgallery-demo4.jpg">
                                            <i class="fas fa-search fa-5x"></i>
                                        </a>
                                    </header>
                                </div>
                                <figure>
                                    <picture>
                                        <source srcset="./images/wgallery-demo4.webp" type="image/webp">
                                        <img  src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==" data-original="./images/wgallery-demo4.jpg" title="Photo title" alt="Photo description">
                                    </picture>
                                </figure>
                            </div>
                        </div>
                    </article>
                    <article class="col-sm-6 col-md-3">
                        <div class="card card-c">
                            <div class="aspect-square hover hover-h full middle center">
                                <div class="hover-content">
                                    <div class="overlay semi-transparent"></div>
                                    <header class="hover-body">
                                        <a class="open-gallery" data-title="Photo title" title="Photo title" aria-label="Photo title" data-caption="Photo description" data-options="skin: 'dark a-custom-class', thumbnail: '../assets/images/wgallery-demo5.jpg'" href="./images/wgallery-demo5.jpg">
                                            <i class="fas fa-search fa-5x"></i>
                                        </a>
                                    </header>
                                </div>
                                <figure>
                                    <picture>
                                        <source srcset="./images/wgallery-demo5.webp" type="image/webp">
                                        <img  src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==" data-original="./images/wgallery-demo5.jpg" title="Photo title" alt="Photo description">
                                    </picture>
                                </figure>
                            </div>
                        </div>
                    </article>
                    <article class="col-sm-6 col-md-3">
                        <div class="card card-c">
                            <div class="aspect-square hover hover-h full middle center">
                                <div class="hover-content">
                                    <div class="overlay semi-transparent"></div>
                                    <header class="hover-body">
                                        <a class="open-gallery" data-title="Photo title" title="Photo title" aria-label="Photo title" data-caption="Photo description" data-options="skin: 'dark a-custom-class', thumbnail: '../assets/images/wgallery-demo6.jpg'" href="./images/wgallery-demo6.jpg">
                                            <i class="fas fa-search fa-5x"></i>
                                        </a>
                                    </header>
                                </div>
                                <figure>
                                    <picture>
                                        <source srcset="./images/wgallery-demo6.webp" type="image/webp">
                                        <img  src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==" data-original="./images/wgallery-demo6.jpg" title="Photo title" alt="Photo description">
                                    </picture>
                                </figure>
                            </div>
                        </div>
                    </article>
                    <article class="col-sm-6 col-md-3">
                        <div class="card card-c">
                            <div class="aspect-square hover hover-h full middle center">
                                <div class="hover-content">
                                    <div class="overlay semi-transparent"></div>
                                    <header class="hover-body">
                                        <a class="open-gallery" data-title="Photo title" title="Photo title" aria-label="Photo title" data-caption="Photo description" data-options="skin: 'dark a-custom-class', thumbnail: '../assets/images/wgallery-demo7.jpg'" href="./images/wgallery-demo7.jpg">
                                            <i class="fas fa-search fa-5x"></i>
                                        </a>
                                    </header>
                                </div>
                                <figure>
                                    <picture>
                                        <source srcset="./images/wgallery-demo7.webp" type="image/webp">
                                        <img  src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==" data-original="./images/wgallery-demo7.jpg" title="Photo title" alt="Photo description">
                                    </picture>
                                </figure>
                            </div>
                        </div>
                    </article>
                    <article class="col-sm-6 col-md-3">
                        <div class="card card-c">
                            <div class="aspect-square hover hover-h full middle center">
                                <div class="hover-content">
                                    <div class="overlay semi-transparent"></div>
                                    <header class="hover-body">
                                        <a class="open-gallery" data-title="Photo title" title="Photo title" aria-label="Photo title" data-caption="Photo description" data-options="skin: 'dark a-custom-class', thumbnail: '../assets/images/wgallery-demo8.jpg'" href="./images/wgallery-demo8.jpg">
                                            <i class="fas fa-search fa-5x"></i>
                                        </a>
                                    </header>
                                </div>
                                <figure>
                                    <picture>
                                        <source srcset="./images/wgallery-demo8.webp" type="image/webp">
                                        <img  src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==" data-original="./images/wgallery-demo8.jpg" title="Photo title" alt="Photo description">
                                    </picture>
                                </figure>
                            </div>
                        </div>
                    </article>
                </section>
            </div>
        </div>
        <!--/album-->
    </main>
    <footer class="center">
        <div class="footer" data-background-url="./images/footer.jpg" data-fixed="true">
            <div class="overlay semi-transparent"></div>
            <section class="row m0">
                <aside class="col-md-6">
                    <div class="spacing-footer">
                        <a class="footer-brand" title="Go to home My Tattoo" aria-label="Go to home My Tattoo" href="./index.html">
                            <figure>
                                <picture>
                                    <source srcset="./images/logo-white.webp" type="image/webp">
                                    <img class="img-responsive collapsed-brand" src="./images/logo-white.png" title="My Tattoo logo white" alt="My Tattoo logo white">
                                </picture>
                            </figure>
                        </a>
                        <ul class="social original mt30">
                            <li>
                                <a title="Share on: Facebook" aria-label="Share on: Facebook" role="button">
                                    <i class="fab fa-facebook"></i>
                                </a>
                            </li>
                            <li>
                                <a title="Share on: Google Plus" aria-label="Share on:  Google Plus" role="button">
                                    <i class="fab fa-google-plus"></i>
                                </a>
                            </li>
                            <li>
                                <a title="Share on: Pinterest" aria-label="Share on:  Pinterest" role="button">
                                    <i class="fab fa-pinterest"></i>
                                </a>
                            </li>
                            <li>
                                <a title="Share on: Twitter" aria-label="Share on: Twitter" role="button">
                                    <i class="fab fa-twitter"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </aside>
                <article class="col-md-6">
                    <div class="spacing-footer pl50-md pl100-lg">
                        <header>
                            <h4 class="h2 ll"> Our <span>Data</span>
                            </h4>
                        </header>
                        <address>
							<div class="address">
								<i class="fas fa-map-marker mr5"></i>
								<b> Address: </b> La Marina ST. 35, Santa Cruz de Tenerife, Spain </div>
							<div class="address">
								<i class="fas fa-phone mr5"></i>
								<b> Tel: <sup>1</sup>
								</b> +34 922 985 058 </div>
							<div class="address">
								<i class="fas fa-phone mr5"></i>
								<b> Tel: <sup>2</sup>
								</b> +34 922 985 058 - ext 101 </div>
							<div class="address">
								<i class="fas fa-mobile mr5"></i>
								<b> Cell: <sup>1</sup>
								</b> +34 922 985 058 </div>
							<div class="address">
								<i class="fas fa-mobile mr5"></i>
								<b> Cell: <sup>2</sup>
								</b> +34 922 985 058 - ext 101 </div>
							<div class="address">
								<i class="fas fa-fax mr5"></i>
								<b> Fax: </b> +34 922 985 058 </div>
							<div class="address">
								<i class="fas fa-envelope mr5"></i>
								<b> Email: </b>
								<a title="Email"
									aria-label="Email"
									role="button"> info@mytattoo.com </a>
							</div>
						</address>
                    </div>
                </article>
            </section>
        </div>
        <div class="sub-footer">
            <div class="container fluid-md-less">
                <section class="row">
                    <article class="col-sm-6 col-sm-offset-3 mb20">
                        <div class="copyright">
                            <p>
                                <i class="fa fa-copyright"></i> 2019, All rights reserved <b> My Tattoo </b>
                            </p>
                            <p> Designed and developed by:
                                <a title="yonex27000@gmail.com" aria-label="yonex27000@gmail.com" target="_blank" rel="noopener" href="mailto:yonex27000@gmail.com">
                                    <b> yonex27000@gmail.com </b>
                                </a>
                            </p>
                        </div>
                    </article>
                    <article class="col-sm-6 col-sm-offset-3">
                        <div class="advice">
                            <p>
                                <a title="Cookies policy" aria-label="Cookies policy" role="button">
                                    <i class="fas fa-gavel ml5"></i>
                                    <b> Cookies policy </b>
                                </a>
                                <a title="Legal warning" aria-label="Legal warning" role="button">
                                    <i class="fas fa-balance-scale ml5"></i>
                                    <b> Legal warning </b>
                                </a>
                            </p>
                        </div>
                    </article>
                </section>
            </div>
        </div>
    </footer>
    <a class="btn btn-primary back-to-top" title="Go up" aria-label="Go up">
        <i class="fas fa-chevron-up"></i>
    </a>
    <script src="./js/jquery.min.js"></script>
    <script src="./js/bootstrap.min.js"></script>
    <script src="./js/jquery/buttons.js"></script>
    <script src="./js/jquery/sidebar.js"></script>
    <script src="./js/jquery/images.js"></script>
    <script src="./js/jquery/helpers.js"></script>
</body>

</html>