<!DOCTYPE html>
<html class="no-js">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home | My Herbalist</title>
    <link rel="stylesheet" href="./fontawesome/css/all.css"/>
    <link rel="stylesheet" href="./css/bootstrap.min.css"/>
    <link rel="stylesheet" href="./css/main.core.min.css"/>
    <link rel="stylesheet" href="./css/preview.min.css"/>
    <link rel="stylesheet" href="./css/custom.css"/>
</head>

<body>
    <header class="menu-c dark" data-spy="affix" data-offset-top="0">
        <section class="top-menu">
            <article class="container fluid-md-less">
                <!--info-->
                <address>
			<div class="address">
				<i class="fas fa-phone"></i>
				<span>
					Phone: +(00) 8888 88 88 88
				</span>
			</div>
			<div class="address">
				<i class="far fa-envelope"></i>
				<span>
					Mail: info@herbalist.es
				</span>
			</div>
		</address>
                <!--/info-->
                <div class="dropdown pull-right language">
                    <!--social-->
                    <ul class="social pull-right">
                        <li>
                            <a aria-label="Share on social network" title="Share on social network" href="#">
                                <i class="fab fa-facebook"></i>
                            </a>
                        </li>
                        <li>
                            <a aria-label="Share on social network" title="Share on social network" href="#">
                                <i class="fab fa-google-plus"></i>
                            </a>
                        </li>
                        <li>
                            <a aria-label="Share on social network" title="Share on social network" href="#">
                                <i class="fab fa-twitter"></i>
                            </a>
                        </li>
                    </ul>
                    <!--/social-->
            </article>
        </section>
        <nav class="navbar" role="navigation">
            <div class="container fluid-md-less">
                <div class="navbar-header">
                    <button class="navbar-toggle collapsed" title="Mobile menu" aria-label="Mobile menu" type="button" data-toggle="collapse" data-target="#menu" aria-expanded="false">
				<span class="sr-only">
					Mobile menu
				</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
                    <!--logo-->
                    <a class="navbar-brand" title="Go to home My Herbalist" aria-label="Go to home My Herbalist" href="./index.html">
                        <figure>
                            <picture>
                                <source srcset="./images/logo.webp" type="image/webp">
                                <img src="./images/logo.png" title="My Herbalist Logo" alt="My Herbalist Logo">
                            </picture>
                        </figure>
                    </a>
                    <!--/logo-->
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="menu" aria-expanded="false">
                    <a title="Go to home My Herbalist" aria-label="Go to home My Herbalist" href="./index.html">
                        <figure>
                            <picture>
                                <source srcset="./images/logo-white.webp" type="image/webp">
                                <img class="img-responsive collapsed-brand" src="./images/logo-white.png" title="My Herbalist logo white" alt="My Herbalist logo white">
                            </picture>
                        </figure>
                    </a>
                    <!--Menu-->
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            <a title="Home" aria-label="Home" href="./index.html"> Home </a>
                        </li>
                        <li class="dropdown">
                            <a title="About" aria-label="About" href="./about.html"> About </a>
                        </li>
                        <li class="dropdown">
                            <a title="Products" aria-label="Products" href="./indexProducts.html"> Products </a>
                        </li>
                        <li class="dropdown">
                            <a title="Blog" aria-label="Blog" href="./indexBlog.html"> Blog </a>
                        </li>
                        <li class="dropdown">
                            <a title="Contact" aria-label="Contact" href="./contacts.html"> Contact </a>
                        </li>
                    </ul>
                    <!--/Menu-->
                </div>
            </div>
        </nav>
    </header>
    <main>
        <!--breadcrumb-->
        <div class="breadcrumb-container">
            <section class="container fluid-md-less">
                <article class="row">
                    <header class="col-md-12">
                        <nav class="navbar-breadcrumb">
                            <ol class="breadcrumb-list">
                                <li class="breadcrumb-item">
                                    <a title="Home" aria-label="Home" href="./">
								Home
							</a>
                                </li>
                                <li class="breadcrumb-item">
                                    <a title="Our products" aria-label="Our products" href="./indexProducts.html">
								Our products
							</a>
                                </li>
                                <li class="breadcrumb-item active">
                                    Analgesic plants
                                </li>
                            </ol>
                        </nav>
                    </header>
                </article>
            </section>
        </div>
        <!--/breadcrumb-->
        <!--product-->
        <div class="section products products-a">
            <section class="container fluid-md-less">
                <article class="row">
                    <!--product content-->
                    <header class="col-md-12">
                        <h2 class="lc text-gray-light">
                            <small>
						Before:
						55$
					</small> Now!
                            <strong class="text-success">
						<sup>
							<i class="fas fa-long-arrow-alt-down"></i>
						</sup>5$
					</strong>
                        </h2>
                        <h1>
                            Analgesic plants
                        </h1>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam at cumque delectus ipsum labore maxime mollitia obcaecati quidem! Aperiam modi pariatur perferendis unde voluptates. Ad adipisci animi laborum nisi provident? Lorem ipsum dolor sit amet,
                            consectetur adipisicing elit. Aperiam at cumque delectus ipsum labore maxime mollitia obcaecati quidem! Aperiam modi pariatur perferendis unde voluptates. Ad adipisci animi laborum nisi provident?
                        </p>
                    </header>
                    <!--/product content-->
                    <!--product images-->
                    <aside class="col-md-8 col-md-offset-2">
                        <div class="row">
                            <div class="col-md-12 hidden-xs">
                                <div class="hover full center middle hover-h aspect-wide">
                                    <div class="hover-content">
                                        <div class="overlay"></div>
                                        <div class="hover-body">
                                            <a class="btn btn-primary btn-lg open-gallery" title="Analgesic plants" aria-label="Analgesic plants" data-title="Analgesic plants" data-options="skin: 'dark a-custom-class', thumbnail: './images/products1.jpg'" href="./images/products1.jpg">
                                                <i class="fas fa-search-plus"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <figure>
                                        <picture>
                                            <source srcset="./images/products1.webp" type="image/webp">
                                            <img  src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==" data-original="./images/products1.jpg" title="Analgesic plants" alt="Analgesic plants">
                                        </picture>
                                    </figure>
                                </div>
                            </div>
                            <div class="col-xs-12 visible-xs">
                                <div class="slider">
                                    <div id="carousel-product-note" class="carousel slide carousel-fade full-width" data-ride="carousel" data-interval="false">
                                        <!-- Wrapper for slides -->
                                        <div class="carousel-inner" role="listbox">
                                            <div class="aspect-wide item active">
                                                <figure>
                                                    <picture>
                                                        <source srcset="./images/products1.webp" type="image/webp">
                                                        <img class="preload" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==" data-original="./images/products1.jpg" title="Analgesic plants" alt="Analgesic plants">
                                                    </picture>
                                                </figure>
                                            </div>
                                            <div class="aspect-wide item">
                                                <figure>
                                                    <picture>
                                                        <source srcset="./images/products1.webp" type="image/webp">
                                                        <img class="preload" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==" data-original="./images/products1.jpg" title="Analgesic plants" alt="Analgesic plants">
                                                    </picture>
                                                </figure>
                                            </div>
                                            <div class="aspect-wide item">
                                                <figure>
                                                    <picture>
                                                        <source srcset="./images/products1.webp" type="image/webp">
                                                        <img class="preload" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==" data-original="./images/products1.jpg" title="Analgesic plants" alt="Analgesic plants">
                                                    </picture>
                                                </figure>
                                            </div>
                                        </div>
                                        <!-- Controls -->
                                        <a class="left carousel-control" title="Prev" aria-label="Prev" data-slide="Prev" href="#carousel-product-note">
                                            <i class="control-icon fa fa-chevron-left"></i>
                                        </a>
                                        <a class="right carousel-control" title="Next" aria-label="Next" data-slide="Next" href="#carousel-product-note">
                                            <i class="control-icon fa fa-chevron-right"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </aside>
                    <!--/product images-->
                    <!--more info-->
                    <footer class="col-md-12">
                        <!--nav tabs-->
                        <ul class="list-inline tabs" role="tablist">
                            <li class="active" role="presentation">
                                <a title="Description: Analgesic plants" aria-label="Description: Analgesic plants" aria-controls="Description" role="tab" data-toggle="tab" aria-expanded="true" href="#description-note">
							Description
						</a>
                            </li>
                            <li role="presentation">
                                <a title="Request a quote" aria-label="Request a quote" aria-controls="profile" role="tab" data-toggle="tab" aria-expanded="false" href="#more-info-note">
							Request a quote
						</a>
                            </li>
                            <li role="presentation">
                                <a title="More info: Products title" aria-label="More info: Products title" download="products.jpg" href="./images/products1.jpg">
                                    <i class="fas fa-cloud-download-alt mr5"></i> Documentation
                                </a>
                            </li>
                        </ul>
                        <!--/nav tabs-->
                        <!--tab panes-->
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane fade in active" id="description-note">
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur corporis cumque dicta dolores eligendi enim expedita fugiat ipsa laudantium mollitia, nisi non obcaecati officia pariatur quaerat rem reprehenderit sit soluta velit vero vitae voluptates
                                    voluptatum. Autem culpa dolorem dolores et exercitationem. Assumenda consectetur deleniti dolorum enim eos fugit maiores omnis quaerat quas, quibusdam quidem quisquam? Alias, aut commodi corporis culpa delectus doloribus
                                    ea ex excepturi iste, laboriosam pariatur sint totam. Excepturi laboriosam minus nostrum saepe vel. Cumque dolores placeat sapiente.
                                </p>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi beatae, consequatur consequuntur distinctio dolores eaque inventore ipsam itaque libero magnam mollitia nobis perspiciatis quis rem sed sint suscipit ullam, velit vero voluptates. Accusamus
                                    alias aliquam commodi cum dolor excepturi iusto maxime obcaecati perferendis quas, quasi, quod sapiente sequi tenetur ullam voluptate, voluptates! Architecto aspernatur consectetur dolore doloremque ea earum expedita
                                    facere, fugiat harum hic in ipsam ipsum iure laborum maiores maxime molestias, nemo nostrum pariatur quaerat quis reprehenderit sapiente soluta tempore temporibus unde ut? Amet dolor maxime neque nesciunt pariatur porro
                                    temporibus totam.
                                </p>
                                <p>
                                    <strong>
								External Link:
							</strong>
                                    <a title="yonex27000@gmail.com" aria-label="yonex27000@gmail.com" target="_blank" href="mailto:yonex27000@gmail.com" rel="nofollow">
								gmail.com
							</a>
                                </p>
                                <p>
                                    <span class="text-uppercase btn-block-xs mb10-sm mb10-xs">
								<strong>
									Category:
								</strong>
								Circulation
							</span>
                                    <span class="ml15-md ml15-lg text-uppercase btn-block-xs">
								<strong>
									Reference code:
								</strong>
								052
							</span>
                                </p>
                                <hr>
                                <ul class="social theme pull-left-lg pull-left-md">
                                    <li>
                                        <a title="Share on social network" aria-label="Share on social network" href="#">
                                            <i class="fab fa-facebook"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a title="Share on social network" aria-label="Share on social network" href="#">
                                            <i class="fab fa-google-plus"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a title="Share on social network" aria-label="Share on social network" href="#">
                                            <i class="fab fa-pinterest"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a title="Share on social network" aria-label="Share on social network" href="#">
                                            <i class="fab fa-twitter"></i>
                                        </a>
                                    </li>
                                </ul>
                                <a class="btn btn-primary pull-right-lg pull-right-md mt15-xs mt15-sm" title="Add to cart" aria-label="Add to cart">
                                    <i class="fas fa-shopping-cart"></i> Add to cart
                                </a>
                            </div>
                            <div role="tabpanel" class="tab-pane fade" id="more-info-note">
                                <div class="row">
                                    <!-- Form -->
                                    <div class="col-md-8 col-md-offset-2">
                                        <div class="container container-fluid">
                                            <div class="row forms forms-a">
                                                <div class="col-md-12">
                                                    <h3 class="ll">
                                                        <strong>Request for information</strong>
                                                    </h3>
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <label class="control-label" for="indexForm-name" hidden>
													Your name
												</label>
                                                        <input type="text" id="indexForm-name" class="form-control" name="IndexFormName" placeholder="Your name" aria-required="true">
                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <label class="control-label" for="indexForm-email" hidden>
													Your email
												</label>
                                                        <input type="text" id="indexForm-email" class="form-control" name="IndexFormName" placeholder="Your email" aria-required="true">
                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <label class="control-label" for="message" hidden>
													Message
												</label>
                                                        <textarea id="message" class="form-control" name="IndexFormMessage" maxlength="250" rows="3" placeholder="Your message here..." aria-required="true"></textarea>
                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <div class="captcha-form">
                                                            <div class="captcha-form">
                                                                <label class="control-label" for="indexForm-verifyCode" hidden>
															Verify code
														</label>
                                                                <input type="text" id="indexForm-verifyCode" class="form-control" name="IndexForm[verifyCode]" placeholder="Verify code" aria-invalid="true">
                                                            </div>
                                                        </div>
                                                        <figure>
                                                            <picture>
                                                                <source srcset="./images/captcha.webp" type="image/webp">
                                                                <img src="./images/captcha.png" title="captcha" alt="captcha">
                                                            </picture>
                                                        </figure>
                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                    <a class="btn btn-primary btn-block btn-lg" title="Send message" aria-label="Send message" href="#">
												Send message
											</a>
                                                </div>
                                            </div>
                                        </div>
                                        <!--/Form -->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--/tab panes-->
                        <!--tags-->
                        <h3 class="lc mt50">
                            Tags
                        </h3>
                        <nav class="tags tags-a">
                            <ul>
                                <li class="tag">
                                    <a title="collagen" aria-label="collagen" href="#">
								collagen
							</a>
                                </li>
                                <li class="tag">
                                    <a title="medicine" aria-label="medicine" href="#">
								medicine
							</a>
                                </li>
                                <li class="tag">
                                    <a title="muscles" aria-label="muscles" href="#">
								muscles
							</a>
                                </li>
                                <li class="tag">
                                    <a title="woman" aria-label="woman" href="#">
								woman
							</a>
                                </li>
                            </ul>
                        </nav>
                        <!--/tags-->
                    </footer>
                    <!--/more info-->
                </article>
            </section>
        </div>
        <!--/product-->
        <!--faq-->
        <div data-background-url="./images/parallax2.png" class="parallax-f section faq">
            <div class="container fluid-md-less">
                <section class="row">
                    <header class="col-md-12">
                        <h2 class="big lc">
                            Frequently asked <strong>questions</strong>
                        </h2>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusamus architecto atque, cumque deleniti deserunt dignissimos ducimus eos, error explicabo fugiat hic laudantium molestiae nesciunt numquam officiis quibusdam quod ut!
                        </p>
                    </header>
                    <article class="col-md-6">
                        <div id="accordion" class="panel-group" role="tablist" aria-multiselectable="true">
                            <div class="panel panel-a no-border">
                                <div id="headingOne" class="panel-heading" role="tab">
                                    <header>
                                        <h4 class="panel-title">
                                            <a class="collapsed" title="Lorem ipsum dolor sit amet, consectetur.?" aria-label="Lorem ipsum dolor sit amet, consectetur.?" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
										Lorem ipsum dolor sit amet, consectetur.?
									</a>
                                        </h4>
                                    </header>
                                </div>
                                <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                                    <div class="panel-body">
                                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird
                                        on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat
                                        craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-a no-border">
                                <div class="panel-heading" role="tab" id="headingTwo">
                                    <header>
                                        <h4 class="panel-title">
                                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo" title="Lorem ipsum dolor sit amet.?" aria-label="Lorem ipsum dolor sit amet.?">
										Lorem ipsum dolor sit amet.?
									</a>
                                        </h4>
                                    </header>
                                </div>
                                <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                                    <div class="panel-body">
                                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird
                                        on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat
                                        craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-a no-border">
                                <div class="panel-heading" role="tab" id="headingThree">
                                    <header>
                                        <h4 class="panel-title">
                                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree" title="Lorem ipsum dolor sit amet, consectetur adipisicing.?" aria-label="Lorem ipsum dolor sit amet, consectetur adipisicing.?">
										Lorem ipsum dolor sit amet, consectetur adipisicing.?
									</a>
                                        </h4>
                                    </header>
                                </div>
                                <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                                    <div class="panel-body">
                                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird
                                        on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat
                                        craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </article>
                    <article class="col-md-6">
                        <div id="accordion2" class="panel-group" role="tablist" aria-multiselectable="true">
                            <div class="panel panel-a no-border">
                                <div id="headingFive" class="panel-heading" role="tab">
                                    <header>
                                        <h4 class="panel-title">
                                            <a class="collapsed" title="Lorem ipsum dolor sit amet, consectetur.?" aria-label="Lorem ipsum dolor sit amet, consectetur.?" role="button" data-toggle="collapse" data-parent="#accordion2" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
										Lorem ipsum dolor sit amet, consectetur.?
									</a>
                                        </h4>
                                    </header>
                                </div>
                                <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
                                    <div class="panel-body">
                                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird
                                        on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat
                                        craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-a no-border">
                                <div class="panel-heading" role="tab" id="headingSix">
                                    <header>
                                        <h4 class="panel-title">
                                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion2" href="#collapseSix" aria-expanded="false" aria-controls="collapseSix" title="Lorem ipsum dolor sit.?" aria-label="Lorem ipsum dolor sit.?">
										Lorem ipsum dolor sit.?
									</a>
                                        </h4>
                                    </header>
                                </div>
                                <div id="collapseSix" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSix">
                                    <div class="panel-body">
                                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird
                                        on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat
                                        craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-a no-border">
                                <div class="panel-heading" role="tab" id="headingSeven">
                                    <header>
                                        <h4 class="panel-title">
                                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion2" href="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven" title="Lorem ipsum dolor sit amet, consectetur adipisicing elit.?" aria-label="Lorem ipsum dolor sit amet, consectetur adipisicing elit.?">
										Lorem ipsum dolor sit amet, consectetur adipisicing elit.?
									</a>
                                        </h4>
                                    </header>
                                </div>
                                <div id="collapseSeven" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSeven">
                                    <div class="panel-body">
                                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird
                                        on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat
                                        craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </article>
                </section>
            </div>
        </div>
        <!--/faq-->
    </main>
    <script src="./js/jquery.min.js"></script>
  <script src="./js/bootstrap.min.js"></script>
  <script src="./js/jquery/buttons.js"></script>
  <script src="./js/jquery/sidebar.js"></script>
  <script src="./js/jquery/images.js"></script>
  <script src="./js/jquery/helpers.js"></script>
</body>

</html>