
<html lang="es">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>My dentist | Home</title>
    <link rel="stylesheet" href="./fontawesome/css/all.css"/>
    <link rel="stylesheet" href="./css/bootstrap.min.css"/>
    <link rel="stylesheet" href="./css/main.core.min.css"/>
    <link rel="stylesheet" href="./css/preview.min.css"/>
    <link rel="stylesheet" href="./css/custom.css"/>
  </head>
  <body>
    <header class="menu-b" data-spy="affix" data-offset-top="0">
      <nav class="navbar" role="navigation">
        <div class="container fluid-md-less">
          <div class="navbar-header">
            <button class="navbar-toggle collapsed" title="Mobile menu" aria-label="Mobile menu" type="button" data-toggle="collapse" data-target="#menu" aria-expanded="false"><span class="sr-only"> Mobile menu </span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button><a class="navbar-brand" title="Go to home My Dentist" aria-label="Go to home My Dentist" href="./index.html">
              <figure>
                <picture>
                  <source srcset="./images/logo.webp" type="image/webp"/><img src="./images/logo.png" title="My Dentist Logo" alt="My Dentist Logo"/>
                </picture>
              </figure></a>
          </div>
          <div class="collapse navbar-collapse" id="menu" aria-expanded="false"><a title="Go to home My Dentist" aria-label="Go to home My Dentist" href="./index.html">
              <figure>
                <picture>
                  <source srcset="./images/logo-white.webp" type="image/webp"/><img class="img-responsive collapsed-brand" src="./images/logo-white.png" title="My Dentist logo white" alt="My Dentist logo white"/>
                </picture>
              </figure></a>
            <!-- Menu-->
            <ul class="nav navbar-nav navbar-right">
              <li class="dropdown"><a title="Home" aria-label="Home" href="./index.html">Home</a></li>
              <li class="dropdown"><a title="About" aria-label="About" href="./about.html">About</a></li>
              <li class="dropdown"><a title="Services" aria-label="Services" href="./indexServices.html">Services</a></li>
              <li class="dropdown"><a title="Blog" aria-label="Blog" href="./indexBlog.html">Blog</a></li>
              <li class="dropdown"><a title="Contact us" aria-label="Contact us" href="./contacts.html">Contact us</a></li>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <main>
      <!-- slider-->
      <section class="slider">
        <aside class="carousel slide carousel-fade full-screen h700" id="wSliderWidget" data-ride="carousel" data-interval="4000">
          <div class="carousel-inner">
            <div class="item active">
              <figure>
                <picture>
                  <source srcset="./images/slide2.webp" type="image/webp"/>
                  <img src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="
                   data-original="./images/slide2.jpg" title="Slider Demo My Dentist" alt="Slider Demo My Dentist"/>
                </picture>
              </figure>
            </div>
            <div class="item">
              <figure>
                <picture>
                  <source srcset="./images/slide1.webp" type="image/webp"/><img src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==" data-original="./images/slide1.jpg" title="Slider Demo My Dentist" alt="Slider Demo My Dentist"/>
                </picture>
              </figure>
            </div>
          </div>
          <div class="control-box"><a class="left carousel-control" title="Prev" aria-label="Prev" data-slide="prev" role="button" href="#wSliderWidget"><i class="control-icon fa fa-chevron-left"></i></a><a class="right carousel-control" aria-label="Next" title="Next" data-slide="next" role="button" href="#wSliderWidget"><i class="control-icon fa fa-chevron-right"></i></a></div>
        </aside>
      </section>
      <!-- spacer contact-->
      <div class="container fluid-md-less">
        <div class="section contact contact-b">
          <section class="feature feature-e xl center-sm center-xs">
            <article class="col-md-4">
              <aside class="icon rounded"><i class="fa fas fa-phone fa-5x"></i></aside>
              <header class="content icon-boxes">
                <h2 class="title h3">Call the <strong>office</strong></h2>
                <p>(+54) 2547-65-58</p>
                <p>(+54) 2547-65-58</p>
              </header>
            </article>
            <article class="col-md-4">
              <aside class="icon"><i class="fa fa-university fa-5x"></i></aside>
              <header class="content icon-boxes">
                <h2 class="title h3">Office <strong>location</strong></h2>
                <p>La Marina ST. 35, Santa Cruz de Tenerife, Spain</p>
              </header>
            </article>
            <article class="col-md-4">
              <aside class="icon"><i class="fa fas fa-envelope fa-5x"></i></aside>
              <header class="content icon-boxes">
                <h2 class="title h3">Email <strong>us</strong></h2>
                <p>info@mail.com</p>
              </header>
            </article>
          </section>
        </div>
      </div>
      <!-- about-->
      <div class="container fluid-md-less">
        <div class="row">
          <section class="section about about-b">
            <aside class="col-md-5 col-sm-8 col-sm-offset-2">
              <div class="aspect-portrait aspect-wide-sm aspect-square-xs">
                <figure>
                  <picture>
                    <source srcset="./images/about.webp" type="image/webp"/><img src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==" data-original="./images/about.jpg" title="My Dentist" alt="My Dentist"/>
                  </picture>
                </figure>
              </div>
            </aside>
            <article class="col-md-7">
              <header>
                <h1 class="text-uppercase ll">Welcome to <strong>My Dentist</strong></h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab alias asperiores, corporis culpa dicta, dolore doloremque fugiat laboriosam libero modi nesciunt nobis odio officia repellendus repudiandae sint suscipit voluptas voluptatem.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab alias asperiores, corporis culpa dicta, dolore doloremque fugiat laboriosam libero modi nesciunt nobis odio officia repellendus repudiandae sint suscipit voluptas voluptatem.</p>
              </header>
              <footer><a class="btn btn-primary btn-lg btn-rounded btn-icon-forward" title="More info" aria-label="More info" href="./about.html">More info<i class="fa fa-angle-right"></i></a></footer>
            </article>
          </section>
        </div>
      </div>
      <!-- spacer properties-->
      <div class="section spacer spacer-k">
        <div class="container fluid-md-less">
          <div class="row">
            <section class="feature feature-e xl center-sm center-xs">
              <article class="col-md-4">
                <aside class="icon rounded"><i class="far fa-bookmark"></i></aside>
                <header class="content icon-boxes">
                  <h2 class="h4 text-uppercase title"><strong>Latest Techniques</strong></h2>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium adipisci blanditiis commodi consequuntur iusto molestias perspiciatis repellendus voluptatem! Cupiditate.</p>
                </header>
              </article>
              <article class="col-md-4">
                <aside class="icon rounded"><i class="far fa-lightbulb"></i></aside>
                <header class="content icon-boxes">
                  <h2 class="h4 text-uppercase title"><strong>Innovative Technology</strong></h2>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium adipisci blanditiis commodi consequuntur iusto molestias perspiciatis repellendus voluptatem! Cupiditate.</p>
                </header>
              </article>
              <article class="col-md-4">
                <aside class="icon rounded"><i class="far fa-thumbs-up"></i></aside>
                <header class="content icon-boxes">
                  <h2 class="h4 text-uppercase title"><strong>Certified Experts</strong></h2>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium adipisci blanditiis commodi consequuntur iusto molestias perspiciatis repellendus voluptatem! Cupiditate.</p>
                </header>
              </article>
            </section>
          </div>
        </div>
      </div>
      <!-- services-->
      <div class="section spacer spacer-n">
        <div class="container-fluid">
          <section class="row">
            <header class="col-sm-12 col-md-12 col-lg-12 mb20">
              <h2 class="text-uppercase h1 lc">Our <strong>services</strong></h2>
              <h3 class="h4">Lorem ipsum dolor sit amet, consectetur Lorem ipsum. <br/> ipsum laboriosam laborum nemo nostrum Lorem ipsum. <br/> voluptatum. Dignissimos obcaecati</h3>
            </header>
            <div class="col-sm-6 col-md-6 col-lg-3">
              <article class="card card-services card-services-b">
                <aside class="aspect-square image hover-scale"><a title="View more" aria-label="View more" href="./viewServices.html">
                    <figure>
                      <picture>
                        <source srcset="./images/services1.webp" type="image/webp"/><img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==" data-original="./images/services1.jpg" title="image title" alt="image description"/>
                      </picture>
                    </figure></a></aside>
                <header class="content service-card">
                  <h2>General Checkups</h2>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores explicabo illo laboriosam nemo quisquam sequi, voluptas. Cum deleniti enim facilis, molestias</p>
                </header>
                <footer class="footer"><a class="btn btn-color4 btn-lg btn-rounded btn-icon-forward" title="View more" aria-label="View more" href="./viewServices.html">View more<i class="fa fa-angle-right"></i></a></footer>
              </article>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-3">
              <article class="card card-services card-services-b">
                <aside class="aspect-square image hover-scale"><a title="View more" aria-label="View more" href="./viewServices.html">
                    <figure>
                      <picture>
                        <source srcset="./images/services2.webp" type="image/webp"/><img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==" data-original="./images/services2.jpg" title="image title" alt="image description"/>
                      </picture>
                    </figure></a></aside>
                <header class="content service-card">
                  <h2>Dental Implants</h2>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores explicabo illo laboriosam nemo quisquam sequi, voluptas. Cum deleniti enim facilis, molestias</p>
                </header>
                <footer class="footer"><a class="btn btn-color4 btn-lg btn-rounded btn-icon-forward" title="View more" aria-label="View more" href="./viewServices.html">View more<i class="fa fa-angle-right"></i></a></footer>
              </article>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-3">
              <article class="card card-services card-services-b">
                <aside class="aspect-square image hover-scale"><a title="View more" aria-label="View more" href="./viewServices.html">
                    <figure>
                      <picture>
                        <source srcset="./images/services3.webp" type="image/webp"/><img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==" data-original="./images/services3.jpg" title="image title" alt="image description"/>
                      </picture>
                    </figure></a></aside>
                <header class="content service-card">
                  <h2>Restoration</h2>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores explicabo illo laboriosam nemo quisquam sequi, voluptas. Cum deleniti enim facilis, molestias</p>
                </header>
                <footer class="footer"><a class="btn btn-color4 btn-lg btn-rounded btn-icon-forward" title="View more" aria-label="View more" href="./viewServices.html">View more<i class="fa fa-angle-right"></i></a></footer>
              </article>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-3">
              <article class="card card-services card-services-b">
                <aside class="aspect-square image hover-scale"><a title="View more" aria-label="View more" href="./viewServices.html">
                    <figure>
                      <picture>
                        <source srcset="./images/services4.webp" type="image/webp"/><img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==" data-original="./images/services4.jpg" title="image title" alt="image description"/>
                      </picture>
                    </figure></a></aside>
                <header class="content service-card">
                  <h2>Cosmetic Dentist</h2>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores explicabo illo laboriosam nemo quisquam sequi, voluptas. Cum deleniti enim facilis, molestias</p>
                </header>
                <footer class="footer"><a class="btn btn-color4 btn-lg btn-rounded btn-icon-forward" title="View more" aria-label="View more" href="./viewServices.html">View more<i class="fa fa-angle-right"></i></a></footer>
              </article>
            </div>
            <aside class="col-sm-12 col-md-12 col-lg-12 mt25"><a class="btn btn-primary btn-rounded btn-lg" title="More services!" aria-label="More services!" href="./viewServices.html">More services!</a></aside>
          </section>
        </div>
      </div>
      <!-- our blog-->
      <div class="section spacer spacer-l">
        <div class="container fluid-md-less">
          <section class="row">
            <header class="col-sm-12 col-md-12 mb20">
              <h2 class="text-uppercase h1 lc">Our <strong>blog</strong></h2>
              <h3 class="h4">Lorem ipsum dolor sit amet, consectetur Lorem ipsum. <br/> ipsum laboriosam laborum nemo nostrum Lorem ipsum. <br/> voluptatum. Dignissimos obcaecati</h3>
            </header>
            <div class="col-sm-6 col-md-4">
              <article class="card card-news card-news-c">
                <aside class="aspect-rectangular hover-scale"><a title="Invisible orthodontics. All you need to know" aria-label="Invisible orthodontics. All you need to know" href="./viewBlog.html">
                    <figure>
                      <picture>
                        <source srcset="./images/news1.webp" type="image/webp"/><img src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==" data-original="./images/news1.jpg" title="Invisible orthodontics. All you need to know" alt="image description"/>
                      </picture>
                    </figure></a></aside>
                <header class="content news-box">
                  <h2 class="h4"><a title="Invisible orthodontics. All you need to know" aria-label="Invisible orthodontics. All you need to know" href="./viewBlog.html">Invisible orthodontics. All you need to know</a></h2>
                  <time class="date" datetime="2020-08-16T11:32:46+00:00">Abr 26, 2020</time>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet distinctio dolorum ducimus eos esse, facere facilis id labore maiores minima, optio quibusdam quos repellat, saepe sed sint totam veritatis voluptatem.</p>
                </header>
              </article>
            </div>
            <div class="col-sm-6 col-md-4">
              <article class="card card-news card-news-c">
                <aside class="aspect-rectangular hover-scale"><a title="Retracted gums: what they are and which is the best solution" aria-label="Retracted gums: what they are and which is the best solution" href="./viewBlog.html">
                    <figure>
                      <picture>
                        <source srcset="./images/news2.webp" type="image/webp"/><img src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==" data-original="./images/news2.jpg" title="Retracted gums: what they are and which is the best solution" alt="image description"/>
                      </picture>
                    </figure></a></aside>
                <header class="content news-box">
                  <h2 class="h4"><a title="Retracted gums: what they are and which is the best solution" aria-label="Retracted gums: what they are and which is the best solution" href="./viewBlog.html">Retracted gums: what they are and which is the best solution</a></h2>
                  <time class="date" datetime="2020-08-16T11:32:46+00:00">Jun 9, 2020</time>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet distinctio dolorum ducimus eos esse, facere facilis id labore maiores minima, optio quibusdam quos repellat, saepe sed sint totam veritatis voluptatem.</p>
                </header>
              </article>
            </div>
            <div class="col-sm-6 col-md-4">
              <article class="card card-news card-news-c">
                <aside class="aspect-rectangular hover-scale"><a title="Single dental implant, what is it and what is it used for?" aria-label="Single dental implant, what is it and what is it used for?" href="./viewBlog.html">
                    <figure>
                      <picture>
                        <source srcset="./images/news3.webp" type="image/webp"/><img src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==" data-original="./images/news3.jpg" title="Single dental implant, what is it and what is it used for?" alt="image description"/>
                      </picture>
                    </figure></a></aside>
                <header class="content news-box">
                  <h2 class="h4"><a title="Single dental implant, what is it and what is it used for?" aria-label="Single dental implant, what is it and what is it used for?" href="./viewBlog.html">Single dental implant, what is it and what is it used for?</a></h2>
                  <time class="date" datetime="2020-08-16T11:32:46+00:00">Agt 2, 2020</time>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet distinctio dolorum ducimus eos esse, facere facilis id labore maiores minima, optio quibusdam quos repellat, saepe sed sint totam veritatis voluptatem.</p>
                </header>
              </article>
            </div>
            <div class="col-sm-6 col-md-4">
              <article class="card card-news card-news-c">
                <aside class="aspect-rectangular hover-scale"><a title="What is halitosis? Causes and treatments" aria-label="What is halitosis? Causes and treatments" href="./viewBlog.html">
                    <figure>
                      <picture>
                        <source srcset="./images/news4.webp" type="image/webp"/><img src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==" data-original="./images/news4.jpg" title="What is halitosis? Causes and treatments" alt="image description"/>
                      </picture>
                    </figure></a></aside>
                <header class="content news-box">
                  <h2 class="h4"><a title="What is halitosis? Causes and treatments" aria-label="What is halitosis? Causes and treatments" href="./viewBlog.html">What is halitosis? Causes and treatments</a></h2>
                  <time class="date" datetime="2020-08-16T11:32:46+00:00">Oct 9, 2020</time>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet distinctio dolorum ducimus eos esse, facere facilis id labore maiores minima, optio quibusdam quos repellat, saepe sed sint totam veritatis voluptatem.</p>
                </header>
              </article>
            </div>
            <div class="col-sm-6 col-md-4">
              <article class="card card-news card-news-c">
                <aside class="aspect-rectangular hover-scale"><a title="How to have a beautiful smile: dental aesthetics" aria-label="How to have a beautiful smile: dental aesthetics" href="./viewBlog.html">
                    <figure>
                      <picture>
                        <source srcset="./images/news5.webp" type="image/webp"/><img src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==" data-original="./images/news5.jpg" title="How to have a beautiful smile: dental aesthetics" alt="image description"/>
                      </picture>
                    </figure></a></aside>
                <header class="content news-box">
                  <h2 class="h4"><a title="How to have a beautiful smile: dental aesthetics" aria-label="How to have a beautiful smile: dental aesthetics" href="./viewBlog.html">How to have a beautiful smile: dental aesthetics</a></h2>
                  <time class="date" datetime="2020-08-16T11:32:46+00:00">May 30, 2020</time>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet distinctio dolorum ducimus eos esse, facere facilis id labore maiores minima, optio quibusdam quos repellat, saepe sed sint totam veritatis voluptatem.</p>
                </header>
              </article>
            </div>
            <div class="col-sm-6 col-md-4">
              <article class="card card-news card-news-c">
                <aside class="aspect-rectangular hover-scale"><a title="What is quadrant curettage?" aria-label="What is quadrant curettage?" href="./viewBlog.html">
                    <figure>
                      <picture>
                        <source srcset="./images/news6.webp" type="image/webp"/><img src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==" data-original="./images/news6.jpg" title="What is quadrant curettage?" alt="image description"/>
                      </picture>
                    </figure></a></aside>
                <header class="content news-box">
                  <h2 class="h4"><a title="What is quadrant curettage?" aria-label="What is quadrant curettage?" href="./viewBlog.html">What is quadrant curettage?</a></h2>
                  <time class="date" datetime="2020-08-16T11:32:46+00:00">May 18, 2020</time>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet distinctio dolorum ducimus eos esse, facere facilis id labore maiores minima, optio quibusdam quos repellat, saepe sed sint totam veritatis voluptatem.</p>
                </header>
              </article>
            </div>
            <aside class="col-sm-12 col-lg-12 mt20"><a class="btn btn-primary btn-rounded btn-lg" title="More articles!" aria-label="More articles!" href="./indexBlog.html">More articles!</a></aside>
          </section>
        </div>
      </div>
    </main>
    <footer class="footer footer-b">
      <div class="footer section spacer spacer-o">
        <div class="container fluid-md-less">
          <section class="row">
            <aside class="col-md-4 col-md-offset-4"><a class="footer-brand" title="Go to home My Dentist" aria-label="Go to home My Dentist" href="./index.html">
                <figure>
                  <picture>
                    <source srcset="./images/logo.webp" type="image/webp"/><img class="img-responsive collapsed-brand" src="./images/logo-white.png" title="My Dentist logo white" alt="My Dentist logo white"/>
                  </picture>
                </figure></a>
              <!-- social-->
              <ul class="social theme">
                <li><a aria-label="Share on social network" title="Share on social network" href="#"><i class="fab fa-facebook"></i></a></li>
                <li><a aria-label="Share on social network" title="Share on social network" href="#"><i class="fab fa-google-plus"></i></a></li>
                <li><a aria-label="Share on social network" title="Share on social network" href="#"><i class="fab fa-twitter"></i></a></li>
              </ul>
            </aside>
            <article class="col-md-8 col-md-offset-2">
              <header>
                <h2 class="text-uppercase">Our <strong>data</strong></h2>
              </header>
              <address>
                <div class="address">
                  <p><b><i class="fas fa-map-marker-alt"></i>                                        Address</b>                                    :
                                                        La Marina ST. 35, Santa Cruz de Tenerife, Spain
                  </p>
                </div>
                <div class="address">
                  <p><b><i class="fas fa-phone"></i>                                        Tel</b>                                    :
                                                        +34 922 985 058
                  </p>
                </div>
                <div class="address">
                  <p><b><i class="fas fa-mobile"></i>                                        Cell</b>                                    :
                                                        +34 922 985 058
                  </p>
                </div>
                <div class="address">
                  <p><b><i class="fas fa-fax"></i>                                        Fax</b>                                    :
                                                        +34 922 985 058
                  </p>
                </div>
                <div class="address">
                  <p><b><i class="fas fa-envelope"></i>                                        Email</b>                                    :<a title="Email" aria-label="Email" href="mailto: yonex27000@gmail.com">yonex27000@gmail.com</a></p>
                </div>
              </address>
            </article>
          </section>
        </div>
      </div>
      <div class="sub-footer">
        <div class="container fluid-md-less">
          <section class="row">
            <article class="col-md-12">
              <aside class="advice">
                <p><a class="buttons-legals" title="Cookies policy" aria-label="Cookies policy" role="button"><i class="fas fa-gavel ml5"></i><b>Cookies policy</b></a><a class="buttons-legals" title="Legal warning" aria-label="Legal warning" role="button"><i class="fas fa-balance-scale ml5"></i><b>Legal warning</b></a></p>
              </aside>
            </article>
            <article class="col-md-12">
              <header class="copyright">
                <p><i class="fa fa-copyright"></i> 2019, All rights reserved<b> My Dentist</b> Designed and developed by:<a title="yonex27000@gmail.com" aria-label="yonex27000@gmail.com" target="_blank" rel="noopener" href="mailto:yonex27000@gmail.com"><b> yonex27000@gmail.com </b></a></p>
              </header>
            </article>
          </section>
        </div>
      </div>
    </footer><a class="btn btn-primary back-to-top" title="Go up" aria-label="Go up"><i class="fas fa-chevron-up"></i></a>
  </body>
  <script src="./js/jquery.min.js"></script>
  <script src="./js/bootstrap.min.js"></script>
  <script src="./js/jquery/buttons.js"></script>
  <script src="./js/jquery/sidebar.js"></script>
</html>