<!DOCTYPE html>
<html class="no-js" lang="<?= Yii::$app->language ?>">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home | My Simple Portfolio</title>
    <link rel="stylesheet" href="../../assets/fontawesome/css/all.css">
    <link rel="stylesheet" href="../../assets/bootstrap.min.css">
    <link rel="stylesheet" href="../../assets/main.core.min.css">
    <link rel="stylesheet" href="../assets/dist/css/preview.min.css">
</head>

<body class="transparent">
    <header class="menu-b" data-spy="affix" data-offset-top="0" data-offset-bottom="0">
        <nav class="navbar">
            <div class="container fluid-md-less">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#menu" aria-expanded="false" title="SimplePortfolio menu" aria-label="SimplePortfolio menu">
						<span class="sr-only"> SimplePortfolio menu </span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
                    <!--logo-->
                    <a class="navbar-brand" title="Go to home My SimplePortfolio template" aria-label="Go to home My SimplePortfolio template" href="./index.html">
                        <figure>
                            <picture>
                                <source srcset="../assets/images/logo.webp" type="image/webp">
                                <img src="../assets/images/logo.png" title="My SimplePortfolio template Logo" alt="My SimplePortfolio template Logo">
                            </picture>
                        </figure>
                    </a>
                    <!--logo-->
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="menu" aria-expanded="false">
                    <a title="Go to home MySimplePortfolio" aria-label="Go to home My SimplePortfolio template" href="./index.html">
                        <figure>
                            <picture>
                                <source srcset="../assets/images/logo-white.webp" type="image/webp">
                                <img class="img-responsive collapsed-brand" src="../assets/images/logo-white.png" title="My SimplePortfolio template logo white" alt="My SimplePortfolio template logo white desciption">
                            </picture>
                        </figure>
                    </a>
                    <div class="hidden-md hidden-lg text-center mb30">
                        <div class="dropdown language">
                            <a class="dropdown-toggle text-white" role="button" data-toggle="dropdown" title="Spanish" aria-label="Spanish">
                                <img class="flag" src="../assets/images/flags/es.png" title="Spanish" alt="Spanish"> Spanish </a>
                            <a class="dropdown-toggle text-white" role="button" data-toggle="dropdown" title="English" aria-label="English">
                                <img class="flag" src="../assets/images/flags/en.png" title="English" alt="English"> English </a>
                            <ul class="dropdown-menu" aria-labelledby="dropdownLanguage">
                                <li class="">
                                    <a title="Spanish" aria-label="Spanish" href="">
                                        <img class="flag" src="../assets/images/flags/es.png" title="Spanish" alt="Spanish"> Spanish </a>
                                </li>
                                <li class="">
                                    <a title="English" aria-label="English" href="">
                                        <img class="flag" src="../assets/images/flags/en.png" title="English" alt="English"> English </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="hidden-md hidden-lg text-center mb30">
                        <div class="dropdown login">
                            <a title="User profile: Aron Smith" aria-label="User profile: Aron Smith" type="button" class="dropdown-toggle btn btn-gray-lighter" data-toggle="dropdown">
                                <span class="profile-letters"> AP </span>
                                <span> Aron Smith </span>
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="dropdownLogin">
                                <li>
                                    <a title="My account" aria-label="My account" role="button"> My account </a>
                                </li>
                                <li>
                                    <a title="Logout" aria-label="Logout" role="button"> Logout </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!--Menu-->
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            <a title="Home" aria-label="Home" href="./index.html"> Home </a>
                        </li>
                        <li class="dropdown">
                            <a title="Templates" aria-label="Templates" href="./templates.html"> Templates </a>
                        </li>
                    </ul>
                    <!--/Menu-->
                </div>
            </div>
        </nav>
    </header>
    <main class="wrapper">
        <!--index-->
        <section class="slider">
            <aside id="wsliderWidget" class="carousel slide carousel-fade full-screen" data-ride="carousel" data-interval="8000">
                <div class="carousel-inner" role="listbox">
                    <div class="item active">
                        <figure>
                            <picture>
                                <source srcset="../assets/images/slider-1.webp" type="image/webp">
                                <img class="preload" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==" data-original="../assets/images/slider-1.jpg" title="Slider Demo 1 My simplePortfolio template" alt="Slider Demo 1 My simplePortfolio template">
                            </picture>
                        </figure>
                    </div>
                </div>
                <div class="control-box">
                    <a class="left carousel-control" href="#wsliderWidget" role="button" data-slide="prev" title="Prev" aria-label="Prev">
                        <i class="control-icon fa fa-chevron-left"></i>
                    </a>
                    <a class="right carousel-control" href="#wsliderWidget" role="button" data-slide="next" aria-label="Next" title="Next">
                        <i class="control-icon fa fa-chevron-right"></i>
                    </a>
                </div>
            </aside>
        </section>
        <!--/index-->
        <!--about-->
        <div class="section">
            <div class="container fluid-md-less">
                <section class="row">
                    <article class="col-md-12">
                        <header>
                            <h2 class="big text-center">
                                <small class="text-uppercase"> Designs of awarded websites </small>
                                <strong>Show yourself as an expert from the start</strong>
                                <small class="h3 mt0"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam
									error est inventore laborum pariatur quam quis rem reprehenderit sint temporibus!
									Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium architecto
									asperiores, atque eligendi explicabo labore magni quas repellat saepe sed. </small>
                            </h2>
                        </header>
                        <footer class="text-center mt30">
                            <a class="btn btn-color3 btn-lg btn-block-xs mr20 mb10-xs mr0-xs btn-bounce-in text-uppercase" title="Make an appointment!" aria-label="Make an appointment!" href="#"> Make an appointment! </a>
                            <a class="btn btn-color3-o btn-block-xs btn-lg btn-bounce-in text-uppercase" title="View more" aria-label="View more" href="#"> View more </a>
                        </footer>
                    </article>
                    <aside class="col-md-12 mt50">
                        <figure>
                            <picture>
                                <source srcset="../assets/images/website-1.webp" type="image/webp">
                                <img class="f-width" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==" data-original="../assets/images/website-1.jpg" title="demo website 1" alt="demo website 1">
                            </picture>
                        </figure>
                    </aside>
                </section>
            </div>
        </div>
        <!--about-->
        <!--spacer-->
        <div class="section spacer dark spacer-b mb0">
            <div class="container fluid-md-less">
                <section class="row">
                    <article class="col-md-12">
                        <header>
                            <h2 class="lc big">
                                <small> Get your own website </small> Get to know some <strong>of our websites</strong>
                            </h2>
                        </header>
                    </article>
                </section>
            </div>
        </div>
        <!--/spacer-->
        <!--websites-->
        <div class="container-fluid">
            <div class="row">
                <section class="section spacer light about about-a">
                    <article class="col-md-7 pl80-lg">
                        <header>
                            <h2 class="big ll"> Chosen by the best in the world, Squarespace helps people with creative ideas succeed. </h2>
                            <ul class="list-unstyled mb50 mt50">
                                <li>
                                    <h2 class="text-uppercase">
                                        <a title="entrepreneur" aria-label="entrepreneur" href="#">
                                            <strong> entrepreneur </strong>
                                        </a>
                                    </h2>
                                </li>
                                <li>
                                    <h2 class="text-uppercase">
                                        <a title="photographer" aria-label="photographer" href="#">
                                            <strong> photographer </strong>
                                        </a>
                                    </h2>
                                </li>
                                <li>
                                    <h2 class="text-uppercase">
                                        <a title="restaurant" aria-label="restaurant" href="#">
                                            <strong> restaurant </strong>
                                        </a>
                                    </h2>
                                </li>
                                <li>
                                    <h2 class="text-uppercase">
                                        <a title="musician" aria-label="musician" href="#">
                                            <strong> musician </strong>
                                        </a>
                                    </h2>
                                </li>
                                <li>
                                    <h2 class="text-uppercase">
                                        <a title="Small Businesses" aria-label="Small Businesses" href="#">
                                            <strong> Small Businesses </strong>
                                        </a>
                                    </h2>
                                </li>
                                <li>
                                    <h2 class="text-uppercase">
                                        <a title="Fashion designers" aria-label="Fashion designers" href="#">
                                            <strong> Fashion designers </strong>
                                        </a>
                                    </h2>
                                </li>
                            </ul>
                        </header>
                        <footer>
                            <a class="btn btn-color3-o btn-block-xs btn-lg btn-bounce-in text-uppercase" title="View more customers" aria-label="View more customers" href="#"> View more customers </a>
                        </footer>
                    </article>
                    <aside class="col-md-5 mt50-sm mt30-xs">
                        <div class="aspect-portrait">
                            <figure>
                                <picture>
                                    <source srcset="../assets/images/website-2.webp" type="image/webp">
                                    <img class="lazy-load" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==" data-original="../assets/images/website-2.jpg" title="demo website 2" alt="demo website 2">
                                </picture>
                            </figure>
                        </div>
                    </aside>
                </section>
            </div>
        </div>
        <!--spacer-->
        <div class="section spacer dark spacer-a">
            <div class="container fluid-md-less">
                <section class="row">
                    <article class="col-md-12">
                        <header>
                            <h2 class="lc big">
                                <small> Discover the latest developments </small> Take a look at <strong>our
									projects</strong>
                            </h2>
                        </header>
                    </article>
                </section>
            </div>
        </div>
        <!--/spacer-->
        <!--spacer-->
        <div class="section">
            <div class="container fluid-md-less">
                <section class="row">
                    <article class="col-md-12">
                        <header class="text-center">
                            <h2 class="big">
                                <small class="text-uppercase"> Marketing tools </small>
                                <strong>Reach and increase your audience</strong>
                            </h2>
                            <p class="h3 mt0"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium, commodi ea excepturi illum incidunt modi odio possimus rerum voluptas? Aliquam aut commodi consectetur consequatur consequuntur culpa debitis deleniti dicta
                                eaque eius eos et facilis illo incidunt inventore iusto maiores minima minus nostrum </p>
                        </header>
                        <footer class="text-center mt30">
                            <a class="btn btn-color3 btn-lg btn-block-xs mr20 mb10-xs mr0-xs btn-bounce-in text-uppercase" title="Start" aria-label="Start" href="#"> Start </a>
                            <a class="btn btn-color3-o btn-block-xs btn-lg btn-bounce-in text-uppercase" title="View more" aria-label="View more" href="#"> View more </a>
                        </footer>
                    </article>
                </section>
            </div>
        </div>
        <!--spacer-->
    </main>
    <footer>
        <div class="footer">
            <section class="row">
                <article class="col-md-3">
                    <header class="spacing-footer">
                        <a class="footer-brand" title="Go to home My simplePortfolio template" aria-label="Go to home My simplePortfolio template" href="./index.html">
                            <figure>
                                <picture>
                                    <source srcset="../assets/images/logo-white.webp" type="image/webp">
                                    <img class="center-block" src="../assets/images/logo-white.png" title="My simplePortfolio logo" alt="Description of image">
                                </picture>
                            </figure>
                        </a>
                        <ul class="social original mt10">
                            <li>
                                <a aria-label="Share on social network" title="Share on social network" href="#">
                                    <i class="fab fa-facebook"></i>
                                </a>
                            </li>
                            <li>
                                <a aria-label="Share on social network" title="Share on social network" href="#">
                                    <i class="fab fa-google-plus"></i>
                                </a>
                            </li>
                            <li>
                                <a aria-label="Share on social network" title="Share on social network" href="#">
                                    <i class="fab fa-pinterest"></i>
                                </a>
                            </li>
                            <li>
                                <a aria-label="Share on social network" title="Share on social network" href="#">
                                    <i class="fab fa-twitter"></i>
                                </a>
                            </li>
                        </ul>
                    </header>
                </article>
                <article class="col-md-9 pl30-md pl30-lg">
                    <div class="spacing-footer">
                        <div class="row">
                            <div class="col-md-2">
                                <h4 class="ll"> Services </h4>
                                <ul class="list-unstyled">
                                    <li>
                                        <p class="text-uppercase">
                                            <a href="#">
                                                <strong>lorem</strong>
                                            </a>
                                        </p>
                                    </li>
                                    <li>
                                        <p class="text-uppercase">
                                            <a href="#">
                                                <strong>lorem</strong>
                                            </a>
                                        </p>
                                    </li>
                                    <li>
                                        <p class="text-uppercase">
                                            <a href="#">
                                                <strong>lorem</strong>
                                            </a>
                                        </p>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-md-2">
                                <h4 class="ll"> Clients </h4>
                                <ul class="list-unstyled">
                                    <li>
                                        <p class="text-uppercase">
                                            <a href="#">
                                                <strong>lorem</strong>
                                            </a>
                                        </p>
                                    </li>
                                    <li>
                                        <p class="text-uppercase">
                                            <a href="#">
                                                <strong>lorem</strong>
                                            </a>
                                        </p>
                                    </li>
                                    <li>
                                        <p class="text-uppercase">
                                            <a href="#">
                                                <strong>lorem</strong>
                                            </a>
                                        </p>
                                    </li>
                                    <li>
                                        <p class="text-uppercase">
                                            <a href="#">
                                                <strong>lorem</strong>
                                            </a>
                                        </p>
                                    </li>
                                    <li>
                                        <p class="text-uppercase">
                                            <a href="#">
                                                <strong>lorem</strong>
                                            </a>
                                        </p>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-md-2">
                                <h4 class="ll"> Company </h4>
                                <ul class="list-unstyled">
                                    <li>
                                        <p class="text-uppercase">
                                            <a href="#">
                                                <strong>lorem</strong>
                                            </a>
                                        </p>
                                    </li>
                                    <li>
                                        <p class="text-uppercase">
                                            <a href="#">
                                                <strong>lorem</strong>
                                            </a>
                                        </p>
                                    </li>
                                    <li>
                                        <p class="text-uppercase">
                                            <a href="#">
                                                <strong>lorem</strong>
                                            </a>
                                        </p>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-md-2">
                                <h4 class="ll"> Comunity </h4>
                                <ul class="list-unstyled">
                                    <li>
                                        <p class="text-uppercase">
                                            <a href="#">
                                                <strong>lorem</strong>
                                            </a>
                                        </p>
                                    </li>
                                    <li>
                                        <p class="text-uppercase">
                                            <a href="#">
                                                <strong>lorem</strong>
                                            </a>
                                        </p>
                                    </li>
                                    <li>
                                        <p class="text-uppercase">
                                            <a href="#">
                                                <strong>lorem</strong>
                                            </a>
                                        </p>
                                    </li>
                                    <li>
                                        <p class="text-uppercase">
                                            <a href="#">
                                                <strong>lorem</strong>
                                            </a>
                                        </p>
                                    </li>
                                    <li>
                                        <p class="text-uppercase">
                                            <a href="#">
                                                <strong>lorem</strong>
                                            </a>
                                        </p>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-md-2">
                                <h4 class="ll"> Follow </h4>
                                <ul class="list-unstyled">
                                    <li>
                                        <p class="text-uppercase">
                                            <a href="#">
                                                <strong>lorem</strong>
                                            </a>
                                        </p>
                                    </li>
                                    <li>
                                        <p class="text-uppercase">
                                            <a href="#">
                                                <strong>lorem</strong>
                                            </a>
                                        </p>
                                    </li>
                                    <li>
                                        <p class="text-uppercase">
                                            <a href="#">
                                                <strong>lorem</strong>
                                            </a>
                                        </p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </article>
            </section>
        </div>
        <div class="sub-footer">
            <div class="container-fluid">
                <section class="row">
                    <article class="col-sm-6">
                        <div class="copyright">
                            <p>
                                <i class="fa fa-copyright" aria-hidden="true"></i> 2019, All rights reserved <b> My simplePortfolio </b>
                            </p>
                            <p> Designed and developed by:
                                <a title="yonex27000@gmail.com" aria-label="yonex27000@gmail.com" target="_blank" href="mailto:yonex27000@gmail.com">
                                    <b> yonex27000@gmail.com </b>
                                </a>
                            </p>
                        </div>
                    </article>
                    <article class="col-sm-6">
                        <div class="advice">
                            <p>
                                <a title="Cookies" aria-label="Cookies" href="#">
                                    <i class="fas fa-gavel ml5" aria-hidden="true"></i>
                                    <b> Cookies </b>
                                </a>
                                <a title="Legal warning" aria-label="Legal warning" href="#">
                                    <i class="fas fa-balance-scale ml5" aria-hidden="true"></i>
                                    <b> Legal advice </b>
                                </a>
                                <a title="Sell conditions" aria-label="Sell conditions" href="#">
                                    <i class="fas fa-credit-card ml5" aria-hidden="true"></i>
                                    <b> Sell conditions </b>
                                </a>
                            </p>
                        </div>
                    </article>
                </section>
            </div>
        </div>
    </footer>
    <aside>
        <a class="btn btn-primary back-to-top" title="Go up" aria-label="Go up" role="button">
            <i class="fas fa-chevron-up"></i>
        </a>
    </aside>
    <script src="../../assets/js/jquery.min.js"></script>
    <script src="../../assets/js/bootstrap.min.js"></script>
    <script src="../assets/dist/js/main.min.js"></script>
    <script src="../../assets/js/jquery/buttons.js"></script>
    <script src="../../assets/js/jquery/sidebar.js"></script>
</body>

</html>