<!DOCTYPE html>
<html class="no-js" lang="<?= Yii::$app->language ?>">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Templates | My Simple Portfolio</title>
    <link rel="stylesheet" href="../../assets/fontawesome/css/all.css">
    <link rel="stylesheet" href="../../bootstrap.min.css">
    <link rel="stylesheet" href="../../main.core.min.css">
    <link rel="stylesheet" href="../assets/dist/css/preview.min.css">
</head>

<body class="transparent" data-loader="<?= $loader ?>">
    <header class="menu-b" data-spy="affix" data-offset-top="0" data-offset-bottom="0">
        <nav class="navbar">
            <div class="container fluid-md-less">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#menu" aria-expanded="false" title="SimplePortfolio menu" aria-label="SimplePortfolio menu">
						<span class="sr-only"> SimplePortfolio menu </span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
                    <!--logo-->
                    <a class="navbar-brand" title="Go to home My SimplePortfolio template" aria-label="Go to home My SimplePortfolio template" href="./index.html">
                        <figure>
                            <picture>
                                <source srcset="../assets/images/logo.webp" type="image/webp">
                                <img src="../assets/images/logo.png" title="My SimplePortfolio template Logo" alt="My SimplePortfolio template Logo">
                            </picture>
                        </figure>
                    </a>
                    <!--logo-->
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="menu" aria-expanded="false">
                    <a title="Go to home MySimplePortfolio" aria-label="Go to home My SimplePortfolio template" href="./index.html">
                        <figure>
                            <picture>
                                <source srcset="../assets/images/logo-white.webp" type="image/webp">
                                <img class="img-responsive collapsed-brand" src="../assets/images/logo-white.png" title="My SimplePortfolio template logo white" alt="My SimplePortfolio template logo white desciption">
                            </picture>
                        </figure>
                    </a>
                    <div class="hidden-md hidden-lg text-center mb30">
                        <div class="dropdown language">
                            <a class="dropdown-toggle text-white" role="button" data-toggle="dropdown" title="Spanish" aria-label="Spanish">
                                <img class="flag" src="../assets/images/flags/es.png" title="Spanish" alt="Spanish"> Spanish </a>
                            <a class="dropdown-toggle text-white" role="button" data-toggle="dropdown" title="English" aria-label="English">
                                <img class="flag" src="../assets/images/flags/en.png" title="English" alt="English"> English </a>
                            <ul class="dropdown-menu" aria-labelledby="dropdownLanguage">
                                <li class="">
                                    <a title="Spanish" aria-label="Spanish" href="">
                                        <img class="flag" src="../assets/images/flags/es.png" title="Spanish" alt="Spanish"> Spanish </a>
                                </li>
                                <li class="">
                                    <a title="English" aria-label="English" href="">
                                        <img class="flag" src="../assets/images/flags/en.png" title="English" alt="English"> English </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="hidden-md hidden-lg text-center mb30">
                        <div class="dropdown login">
                            <a title="User profile: Aron Smith" aria-label="User profile: Aron Smith" type="button" class="dropdown-toggle btn btn-gray-lighter" data-toggle="dropdown">
                                <span class="profile-letters"> AP </span>
                                <span> Aron Smith </span>
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="dropdownLogin">
                                <li>
                                    <a title="My account" aria-label="My account" role="button"> My account </a>
                                </li>
                                <li>
                                    <a title="Logout" aria-label="Logout" role="button"> Logout </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!--Menu-->
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            <a title="Home" aria-label="Home" href="./index.html"> Home </a>
                        </li>
                        <li class="dropdown">
                            <a title="Templates" aria-label="Templates" href="./templates.html"> Templates </a>
                        </li>
                    </ul>
                    <!--/Menu-->
                </div>
            </div>
        </nav>
    </header>
    <main class="wrapper">
        <!--spacer-->
        <div class="section spacer light">
            <div class="container fluid-md-less">
                <section class="row">
                    <article class="col-md-12 mt50">
                        <header>
                            <h2 class="ll big">
                                <small class="h4"> Find your website template. What is the purpose of your website?
								</small> Create a Portfolio </h2>
                        </header>
                    </article>
                </section>
            </div>
        </div>
        <!--/spacer-->
        <!--news-->
        <div class="section">
            <div class="container fluid-md-less">
                <div class="row">
                    <!--sidebar-->
                    <section class="col-md-3">
                        <aside class="sidebar-menu sidebar-nav">
                            <!--filters components-->
                            <button class="btn btn-primary btn-lg btn-block visible-xs visible-sm mt20 mb20" title="Filters" aria-label="Filters" data-toggle="collapse" data-target="#filters" aria-expanded="false" aria-controls="collapseExample" type="button"> Filters </button>
                            <div class="collapse collapse-sidebar" id="filters">
                                <!--categories-->
                                <h3 class="ll mt0">
                                    <small class="text-uppercase"> Main <br> categories </small> Popular designs </h3>
                                <nav class="navbar" role="navigation">
                                    <div class="navbar-collapse">
                                        <ul class="nav navbar-nav text-uppercase" id="ul1">
                                            <li>
                                                <a title="Online stores" aria-label="Online stores" role="button"> Online stores </a>
                                            </li>
                                            <li>
                                                <a title="Art and Design" aria-label="Art and Design" role="button"> Art and Design </a>
                                            </li>
                                            <li>
                                                <a title="Comunity" aria-label="Comunity" role="button"> Comunity </a>
                                            </li>
                                            <li>
                                                <a title="Creative Services" aria-label="Creative Services" role="button"> Creative Services </a>
                                            </li>
                                            <li>
                                                <a title="Entertainment and Media" aria-label="Entertainment and Media" role="button"> Entertainment and Media </a>
                                            </li>
                                            <li>
                                                <a title="Fashion and Beauty" aria-label="Fashion and Beauty" role="button"> Fashion and Beauty </a>
                                            </li>
                                            <li>
                                                <a title="Foods and drinks" aria-label="Foods and drinks" role="button"> Foods and drinks </a>
                                            </li>
                                            <li>
                                                <a title="Health and Wellness" aria-label="Health and Wellness" role="button"> Health and Wellness </a>
                                            </li>
                                            <li>
                                                <a title="Home and life" aria-label="Home and life" role="button"> Home and life </a>
                                            </li>
                                            <li>
                                                <a title="Music" aria-label="Music" role="button"> Music </a>
                                            </li>
                                            <li>
                                                <a title="Photography" aria-label="Photography" role="button"> Photography </a>
                                            </li>
                                            <li>
                                                <a title="Professional Services" aria-label="Professional Services" role="button"> Professional Services </a>
                                            </li>
                                            <li>
                                                <a title="Travel and lifestyles" aria-label="Travel and lifestyles" role="button"> Travel and lifestyles </a>
                                            </li>
                                            <li>
                                                <a title="Wedding" aria-label="Wedding" role="button"> Wedding </a>
                                            </li>
                                            <li>
                                                <a title="My favorite" aria-label="My favorite" role="button">
                                                    <i class="fas fa-heart mr-20"></i> My favorite </a>
                                            </li>
                                        </ul>
                                    </div>
                                </nav>
                                <!--/categories-->
                            </div>
                            <!--/filters components-->
                        </aside>
                    </section>
                    <!--/sidebar-->
                    <!--news cards-->
                    <div class="col-md-9">
                        <section class="row">
                            <article class="col-sm-6 col-md-6 col-lg-6">
                                <div class="card card-news card-news-b">
                                    <div class="aspect-rectangular">
                                        <a title="Services and Legal Procedures" aria-label="Services and Legal Procedures" href="<?= Url::to(['/wSystem/themes/preview', 'theme' => 'simplePortfolio', 'view' => '/wNews/view']); ?>">
                                            <figure>
                                                <picture>
                                                    <source srcset="../assets/images/news-1.webp" type="image/webp">
                                                    <img class="lazy-load" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==" data-original="../assets/images/news-1.jpg" title="Services and Legal Procedures" alt="Services and Legal Procedures">
                                                </picture>
                                            </figure>
                                        </a>
                                    </div>
                                    <div class="content">
                                        <header class="news-box">
                                            <a title="Services and Legal Procedures" aria-label="Services and Legal Procedures" href="<?= Url::to(['/wSystem/themes/preview', 'theme' => 'simplePortfolio', 'view' => '/wNews/view']); ?>">
                                                <h2 class="title h3"> Moksha Services and Legal Procedures </h2>
                                            </a>
                                            <p class="summary"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda at beatae corporis cupiditate deleniti error esse inventore itaque, iusto maxime mollitia nostrum odio officiis perferendis porro provident
                                                reprehenderit sunt, tenetur? </p>
                                        </header>
                                    </div>
                                </div>
                            </article>
                            <aside class="col-sm-12 col-md-12 col-lg-12 text-center mt80 mt30-sm mt30-xs">
                                <ul class="pagination pagination-lg">
                                    <li class="page-item">
                                        <a class="page-link" title="Previous" aria-label="Previous" href="#">
                                            <span aria-hidden="true">&raquo;</span>
                                            <span class="sr-only">Previous</span>
                                        </a>
                                    </li>
                                    <li class="page-item">
                                        <a class="page-link" href="#">1 </a>
                                    </li>
                                    <li class="page-item">
                                        <a class="page-link" href="#">2 </a>
                                    </li>
                                    <li class="page-item">
                                        <a class="page-link" href="#">3 </a>
                                    </li>
                                    <li class="page-item">
                                        <a class="page-link" href="#">4 </a>
                                    </li>
                                    <li class="page-item">
                                        <a class="page-link" href="#">5 </a>
                                    </li>
                                    <li class="page-item">
                                        <a class="page-link" title="Next" aria-label="Next" href="#">
                                            <span aria-hidden="true">&raquo;</span>
                                            <span class="sr-only">Next</span>
                                        </a>
                                    </li>
                                </ul>
                            </aside>
                        </section>
                    </div>
                    <!--/news cards-->
                </div>
            </div>
        </div>
        <!--/news-->
    </main>
    <footer>
        <div class="footer">
            <section class="row">
                <article class="col-md-3">
                    <header class="spacing-footer">
                        <a class="footer-brand" title="Go to home My simplePortfolio template" aria-label="Go to home My simplePortfolio template" href="./index.html">
                            <figure>
                                <picture>
                                    <source srcset="../assets/images/logo-white.webp" type="image/webp">
                                    <img class="center-block" src="../assets/images/logo-white.png" title="My simplePortfolio logo" alt="Description of image">
                                </picture>
                            </figure>
                        </a>
                        <ul class="social original mt10">
                            <li>
                                <a aria-label="Share on social network" title="Share on social network" href="#">
                                    <i class="fab fa-facebook"></i>
                                </a>
                            </li>
                            <li>
                                <a aria-label="Share on social network" title="Share on social network" href="#">
                                    <i class="fab fa-google-plus"></i>
                                </a>
                            </li>
                            <li>
                                <a aria-label="Share on social network" title="Share on social network" href="#">
                                    <i class="fab fa-pinterest"></i>
                                </a>
                            </li>
                            <li>
                                <a aria-label="Share on social network" title="Share on social network" href="#">
                                    <i class="fab fa-twitter"></i>
                                </a>
                            </li>
                        </ul>
                    </header>
                </article>
                <article class="col-md-9 pl30-md pl30-lg">
                    <div class="spacing-footer">
                        <div class="row">
                            <div class="col-md-2">
                                <h4 class="ll"> Services </h4>
                                <ul class="list-unstyled">
                                    <li>
                                        <p class="text-uppercase">
                                            <a href="#">
                                                <strong>lorem</strong>
                                            </a>
                                        </p>
                                    </li>
                                    <li>
                                        <p class="text-uppercase">
                                            <a href="#">
                                                <strong>lorem</strong>
                                            </a>
                                        </p>
                                    </li>
                                    <li>
                                        <p class="text-uppercase">
                                            <a href="#">
                                                <strong>lorem</strong>
                                            </a>
                                        </p>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-md-2">
                                <h4 class="ll"> Clients </h4>
                                <ul class="list-unstyled">
                                    <li>
                                        <p class="text-uppercase">
                                            <a href="#">
                                                <strong>lorem</strong>
                                            </a>
                                        </p>
                                    </li>
                                    <li>
                                        <p class="text-uppercase">
                                            <a href="#">
                                                <strong>lorem</strong>
                                            </a>
                                        </p>
                                    </li>
                                    <li>
                                        <p class="text-uppercase">
                                            <a href="#">
                                                <strong>lorem</strong>
                                            </a>
                                        </p>
                                    </li>
                                    <li>
                                        <p class="text-uppercase">
                                            <a href="#">
                                                <strong>lorem</strong>
                                            </a>
                                        </p>
                                    </li>
                                    <li>
                                        <p class="text-uppercase">
                                            <a href="#">
                                                <strong>lorem</strong>
                                            </a>
                                        </p>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-md-2">
                                <h4 class="ll"> Company </h4>
                                <ul class="list-unstyled">
                                    <li>
                                        <p class="text-uppercase">
                                            <a href="#">
                                                <strong>lorem</strong>
                                            </a>
                                        </p>
                                    </li>
                                    <li>
                                        <p class="text-uppercase">
                                            <a href="#">
                                                <strong>lorem</strong>
                                            </a>
                                        </p>
                                    </li>
                                    <li>
                                        <p class="text-uppercase">
                                            <a href="#">
                                                <strong>lorem</strong>
                                            </a>
                                        </p>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-md-2">
                                <h4 class="ll"> Comunity </h4>
                                <ul class="list-unstyled">
                                    <li>
                                        <p class="text-uppercase">
                                            <a href="#">
                                                <strong>lorem</strong>
                                            </a>
                                        </p>
                                    </li>
                                    <li>
                                        <p class="text-uppercase">
                                            <a href="#">
                                                <strong>lorem</strong>
                                            </a>
                                        </p>
                                    </li>
                                    <li>
                                        <p class="text-uppercase">
                                            <a href="#">
                                                <strong>lorem</strong>
                                            </a>
                                        </p>
                                    </li>
                                    <li>
                                        <p class="text-uppercase">
                                            <a href="#">
                                                <strong>lorem</strong>
                                            </a>
                                        </p>
                                    </li>
                                    <li>
                                        <p class="text-uppercase">
                                            <a href="#">
                                                <strong>lorem</strong>
                                            </a>
                                        </p>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-md-2">
                                <h4 class="ll"> Follow </h4>
                                <ul class="list-unstyled">
                                    <li>
                                        <p class="text-uppercase">
                                            <a href="#">
                                                <strong>lorem</strong>
                                            </a>
                                        </p>
                                    </li>
                                    <li>
                                        <p class="text-uppercase">
                                            <a href="#">
                                                <strong>lorem</strong>
                                            </a>
                                        </p>
                                    </li>
                                    <li>
                                        <p class="text-uppercase">
                                            <a href="#">
                                                <strong>lorem</strong>
                                            </a>
                                        </p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </article>
            </section>
        </div>
        <div class="sub-footer">
            <div class="container-fluid">
                <section class="row">
                    <article class="col-sm-6">
                        <div class="copyright">
                            <p>
                                <i class="fa fa-copyright" aria-hidden="true"></i> 2019, All rights reserved <b> My simplePortfolio </b>
                            </p>
                            <p> Designed and developed by:
                                <a title="yonex27000@gmail.com" aria-label="yonex27000@gmail.com" target="_blank" href="mailto:yonex27000@gmail.com">
                                    <b> yonex27000@gmail.com </b>
                                </a>
                            </p>
                        </div>
                    </article>
                    <article class="col-sm-6">
                        <div class="advice">
                            <p>
                                <a title="Cookies" aria-label="Cookies" href="#">
                                    <i class="fas fa-gavel ml5" aria-hidden="true"></i>
                                    <b> Cookies </b>
                                </a>
                                <a title="Legal warning" aria-label="Legal warning" href="#">
                                    <i class="fas fa-balance-scale ml5" aria-hidden="true"></i>
                                    <b> Legal advice </b>
                                </a>
                                <a title="Sell conditions" aria-label="Sell conditions" href="#">
                                    <i class="fas fa-credit-card ml5" aria-hidden="true"></i>
                                    <b> Sell conditions </b>
                                </a>
                            </p>
                        </div>
                    </article>
                </section>
            </div>
        </div>
    </footer>
    <aside>
        <a class="btn btn-primary back-to-top" title="Go up" aria-label="Go up" role="button">
            <i class="fas fa-chevron-up"></i>
        </a>
    </aside>

    <script src="../../assets/js/jquery.min.js"></script>
    <script src="../../assets/js/bootstrap.min.js"></script>
    <script src="../assets/dist/js/main.min.js"></script>
    <script src="../../assets/js/jquery/buttons.js"></script>

    <script src="../../assets/js/jquery/sidebar.js"></script>
</body>

</html>