<html class="no-js"
	lang="<?= Yii::$app->language ?>"
	prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb#">

<head>
	<meta charset="UTF-8">
	<meta name="viewport"
		content="width=device-width, initial-scale=1.0">
	<title>Services title | My Relocation</title>
	<link rel="stylesheet"
		href="../../assets/fontawesome/css/all.css">
	<link rel="stylesheet"
		href="../../bootstrap.min.css">
	<link rel="stylesheet"
		href="../../main.core.min.css">
	<link rel="stylesheet"
		href="../assets/dist/css/preview.min.css">
</head>

<body>
	<header class="menu-c"
		data-spy="affix"
		data-offset-top="0">
		<section class="top-menu">
			<article class="container fluid-md-less">
				<!--info-->
				<address>
					<div class="address">
						<i class="fas fa-phone"></i>
						<span> Phone: +(00) 8888 88 88 88 </span>
					</div>
					<div class="address">
						<i class="far fa-envelope"></i>
						<span> Mail: info@relocation.es </span>
					</div>
				</address>
				<!--/info-->
				<!--social-->
				<ul class="social pull-right">
					<li>
						<a aria-label="Share on social network"
							title="Share on social network"
							href="#">
							<i class="fab fa-facebook"></i>
						</a>
					</li>
					<li>
						<a aria-label="Share on social network"
							title="Share on social network"
							href="#">
							<i class="fab fa-google-plus"></i>
						</a>
					</li>
					<li>
						<a aria-label="Share on social network"
							title="Share on social network"
							href="#">
							<i class="fab fa-twitter"></i>
						</a>
					</li>
				</ul>
				<!--/social-->
			</article>
		</section>
		<nav class="navbar"
			role="navigation">
			<div class="container fluid-md-less">
				<div class="navbar-header">
					<button class="navbar-toggle collapsed"
						title="Mobile menu"
						aria-label="Mobile menu"
						type="button"
						data-toggle="collapse"
						data-target="#menu"
						aria-expanded="false">
						<span class="sr-only"> Mobile menu </span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<!--logo-->
					<a class="navbar-brand"
						title="Go to home My Relocation"
						aria-label="Go to home My Relocation"
						href="./index.html">
						<figure>
							<picture>
								<source srcset="../assets/images/logo-white.webp"
									type="image/webp">
								<img src="../assets/images/logo-white.png"
									title="My Relocation Logo"
									alt="My Relocation Logo">
							</picture>
						</figure>
					</a>
					<!--/logo-->
				</div>
				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse"
					id="menu"
					aria-expanded="false">
					<a title="Go to home My Relocation"
						aria-label="Go to home My Relocation"
						href="./index.html">
						<figure>
							<picture>
								<source srcset="../assets/images/logo-white.webp"
									type="image/webp">
								<img class="img-responsive collapsed-brand"
									src="../assets/images/logo-white.png"
									title="My Relocation logo white"
									alt="My Relocation logo white">
							</picture>
						</figure>
					</a>
					<div class="hidden-md hidden-lg text-center mb30">
						<div class="dropdown language">
							<a class="dropdown-toggle text-white"
								role="button"
								data-toggle="dropdown"
								title="Spanish"
								aria-label="Spanish">
								<img class="flag"
									src="../assets/images/flags/es.png"
									title="Spanish"
									alt="Spanish"> Spanish </a>
							<a class="dropdown-toggle text-white"
								role="button"
								data-toggle="dropdown"
								title="English"
								aria-label="English">
								<img class="flag"
									src="../assets/images/flags/en.png"
									title="English"
									alt="English"> English </a>
							<ul class="dropdown-menu"
								aria-labelledby="dropdownLanguage">
								<li class="">
									<a title="Spanish"
										aria-label="Spanish"
										href="">
										<img class="flag"
											src="../assets/images/flags/es.png"
											title="Spanish"
											alt="Spanish"> Spanish </a>
								</li>
								<li class="">
									<a title="English"
										aria-label="English"
										href="">
										<img class="flag"
											src="../assets/images/flags/en.png"
											title="English"
											alt="English"> English </a>
								</li>
							</ul>
						</div>
					</div>
					<div class="hidden-md hidden-lg text-center mb30">
						<div class="dropdown login">
							<a title="User profile: Aron Smith"
								aria-label="User profile: Aron Smith"
								type="button"
								class="dropdown-toggle btn btn-gray-lighter"
								data-toggle="dropdown">
								<span class="profile-letters"> AP </span>
								<span> Aron Smith </span>
							</a>
							<ul class="dropdown-menu"
								aria-labelledby="dropdownLogin">
								<li>
									<a title="My account"
										aria-label="My account"
										role="button"> My account </a>
								</li>
								<li>
									<a title="Logout"
										aria-label="Logout"
										role="button"> Logout </a>
								</li>
							</ul>
						</div>
					</div>
					<!--Menu-->
					<ul class="nav navbar-nav navbar-right">
						<li class="dropdown">
							<a title="Home"
								aria-label="Home"
								href="./index.html"> Home </a>
						</li>
						<li class="dropdown">
							<a title="About"
								aria-label="About"
								href="./about.html"> About </a>
						</li>
						<li class="dropdown">
							<a title="Products"
								aria-label="Products"
								href="./indexProducts.html"> Products </a>
						</li>
						<li class="dropdown">
							<a title="Blog"
								aria-label="Blog"
								href="./indexBlog.html"> Blog </a>
						</li>
						<li class="dropdown">
							<a title="Contact"
								aria-label="Contact"
								href="./contacts.html"> Contact </a>
						</li>
					</ul>
					<!--/Menu-->
				</div>
			</div>
		</nav>
	</header>
	<main class="wrapper">
		<!--breadcrumb-->
		<div class="breadcrumb-container">
			<section class="container fluid-md-less">
				<article class="row">
					<header class="col-md-12">
						<nav class="navbar-breadcrumb">
							<ol class="breadcrumb-list">
								<li class="breadcrumb-item">
									<a title="Home"
										aria-label="Home"
										href="./index.html"> Home </a>
								</li>
								<li class="breadcrumb-item">
									<a title="Our services"
										aria-label="Our services"
										href="./indexServices.html"> Our services </a>
								</li>
								<li class="breadcrumb-item active"> Logistic services </li>
							</ol>
						</nav>
					</header>
				</article>
			</section>
		</div>
		<!--/breadcrumb-->
		<!--service-->
		<div class="section services services-a spacer spacer-f light">
			<section class="container fluid-md-less">
				<article class="row">
					<!--service principal content-->
					<header class="col-md-12">
						<h1 class="lc"> Logistic services </h1>
						<p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam at cumque delectus ipsum
							labore maxime mollitia obcaecati quidem! Aperiam modi pariatur perferendis unde voluptates.
							Ad adipisci animi laborum nisi provident? Lorem ipsum dolor sit amet, consectetur
							adipisicing elit. Aperiam at cumque delectus ipsum labore maxime mollitia obcaecati quidem!
							Aperiam modi pariatur perferendis unde voluptates. Ad adipisci animi laborum nisi provident?
						</p>
					</header>
					<!--/service principal content-->
					<!--service images-->
					<aside class="col-md-8 col-md-offset-2">
						<div class="row">
							<div class="col-md-12 hidden-xs">
								<div class="hover full center middle hover-h aspect-wide">
									<div class="hover-content">
										<div class="overlay"></div>
										<div class="hover-body">
											<a class="btn btn-primary btn-lg open-gallery"
												title="Logistic services"
												aria-label="Logistic services"
												data-title="Logistic services"
												data-options="skin: 'dark a-custom-class', thumbnail: '../assets/images/services1.jpg'"
												href="../assets/images/services1.jpg">
												<i class="fas fa-search-plus"></i>
											</a>
										</div>
									</div>
									<figure>
										<picture>
											<source srcset="../assets/images/services1.webp"
												type="image/webp">
											<img class="lazy-load"
												src="<?= Image::pixel() ?>"
												data-original="../assets/images/services1.jpg"
												title="Logistic services"
												alt="Logistic services">
										</picture>
									</figure>
								</div>
							</div>
							<div class="col-xs-12 visible-xs">
								<div class="slider">
									<div id="carousel-product-note"
										class="carousel slide carousel-fade full-width"
										data-ride="carousel"
										data-interval="false">
										<!-- Wrapper for slides -->
										<div class="carousel-inner"
											role="listbox">
											<div class="aspect-wide item active">
												<figure>
													<picture>
														<source srcset="../assets/images/services1.webp"
															type="image/webp">
														<img class="preload"
															src="<?= Image::pixel() ?>"
															data-original="../assets/images/services1.jpg"
															title="Logistic services"
															alt="Logistic services">
													</picture>
												</figure>
											</div>
											<div class="aspect-wide item">
												<figure>
													<picture>
														<source srcset="../assets/images/services1.webp"
															type="image/webp">
														<img class="preload"
															src="<?= Image::pixel() ?>"
															data-original="../assets/images/services1.jpg"
															title="Logistic services"
															alt="Logistic services">
													</picture>
												</figure>
											</div>
											<div class="aspect-wide item">
												<figure>
													<picture>
														<source srcset="../assets/images/services1.webp"
															type="image/webp">
														<img class="preload"
															src="<?= Image::pixel() ?>"
															data-original="../assets/images/services1.jpg"
															title="Logistic services"
															alt="Logistic services">
													</picture>
												</figure>
											</div>
										</div>
										<!-- Controls -->
										<a class="left carousel-control"
											title="Prev"
											aria-label="Prev"
											data-slide="Prev"
											href="#carousel-product-note">
											<i class="control-icon fa fa-chevron-left"></i>
										</a>
										<a class="right carousel-control"
											title="Next"
											aria-label="Next"
											data-slide="Next"
											href="#carousel-product-note">
											<i class="control-icon fa fa-chevron-right"></i>
										</a>
									</div>
								</div>
							</div>
						</div>
					</aside>
					<!--/service images-->
					<footer class="col-md-12">
						<!--nav tabs-->
						<ul class="list-inline tabs"
							role="tablist">
							<li class="active"
								role="presentation">
								<a title="Description: Logistic services"
									aria-label="Description: Logistic services"
									aria-controls="Description"
									role="tab"
									data-toggle="tab"
									aria-expanded="true"
									href="#description-note"> Description </a>
							</li>
							<li role="presentation">
								<a title="Request quote: Logistic services"
									aria-label="Request quote: Logistic services"
									aria-controls="profile"
									role="tab"
									data-toggle="tab"
									aria-expanded="false"
									href="#more-info-note"> Request a quote </a>
							</li>
							<li role="presentation">
								<a title="Download: Logistic services guide"
									aria-label="Download: Logistic services guide"
									download="products.jpg"
									href="../assets/images/products1.jpg">
									<i class="fas fa-cloud-download-alt mr5"></i> Documentation </a>
							</li>
						</ul>
						<!--/nav tabs-->
						<!--tab panes-->
						<div class="tab-content">
							<div role="tabpanel"
								class="tab-pane fade in active"
								id="description-note">
								<p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur corporis
									cumque dicta dolores eligendi enim expedita fugiat ipsa laudantium mollitia, nisi
									non obcaecati officia pariatur quaerat rem reprehenderit sit soluta velit vero vitae
									voluptates voluptatum. Autem culpa dolorem dolores et exercitationem. Assumenda
									consectetur deleniti dolorum enim eos fugit maiores omnis quaerat quas, quibusdam
									quidem quisquam? Alias, aut commodi corporis culpa delectus doloribus ea ex
									excepturi iste, laboriosam pariatur sint totam. Excepturi laboriosam minus nostrum
									saepe vel. Cumque dolores placeat sapiente. </p>
								<p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi beatae, consequatur
									consequuntur distinctio dolores eaque inventore ipsam itaque libero magnam mollitia
									nobis perspiciatis quis rem sed sint suscipit ullam, velit vero voluptates.
									Accusamus alias aliquam commodi cum dolor excepturi iusto maxime obcaecati
									perferendis quas, quasi, quod sapiente sequi tenetur ullam voluptate, voluptates!
									Architecto aspernatur consectetur dolore doloremque ea earum expedita facere, fugiat
									harum hic in ipsam ipsum iure laborum maiores maxime molestias, nemo nostrum
									pariatur quaerat quis reprehenderit sapiente soluta tempore temporibus unde ut? Amet
									dolor maxime neque nesciunt pariatur porro temporibus totam. </p>
								<p>
									<strong> External Link: </strong>
									<a title="gmail.com"
										aria-label="gmail.com"
										target="_blank"
										href="https://gmail.com"
										rel="nofollow"> gmail.com </a>
								</p>
								<p>
									<span class="text-uppercase btn-block-xs mb10-sm mb10-xs">
										<strong> Category: </strong> Category 1 </span>
									<span class="ml15-md ml15-lg text-uppercase btn-block-xs">
										<strong> Reference code: </strong> Civil-052 </span>
								</p>
								<hr>
								<ul class="social theme">
									<li>
										<a title="Share on social network"
											aria-label="Share on social network"
											href="#">
											<i class="fab fa-facebook"></i>
										</a>
									</li>
									<li>
										<a title="Share on social network"
											aria-label="Share on social network"
											href="#">
											<i class="fab fa-google-plus"></i>
										</a>
									</li>
									<li>
										<a title="Share on social network"
											aria-label="Share on social network"
											href="#">
											<i class="fab fa-pinterest"></i>
										</a>
									</li>
									<li>
										<a title="Share on social network"
											aria-label="Share on social network"
											href="#">
											<i class="fab fa-twitter"></i>
										</a>
									</li>
								</ul>
							</div>
							<div role="tabpanel"
								class="tab-pane fade"
								id="more-info-note">
								<div class="row">
									<!-- Form -->
									<div class="col-md-8 col-md-offset-2">
										<div class="container container-fluid">
											<div class="row forms forms-a">
												<div class="col-md-12">
													<h3 class="ll">
														<strong>Request for information</strong>
													</h3>
												</div>
												<div class="col-md-12">
													<div class="form-group">
														<label class="control-label"
															for="indexForm-name"
															hidden> Your name </label>
														<input type="text"
															id="indexForm-name"
															class="form-control"
															name="IndexFormName"
															placeholder="Your name"
															aria-required="true">
													</div>
												</div>
												<div class="col-md-12">
													<div class="form-group">
														<label class="control-label"
															for="indexForm-email"
															hidden> Your email </label>
														<input type="text"
															id="indexForm-email"
															class="form-control"
															name="IndexFormName"
															placeholder="Your email"
															aria-required="true">
													</div>
												</div>
												<div class="col-md-12">
													<div class="form-group">
														<label class="control-label"
															for="message"
															hidden> Message </label>
														<textarea id="message"
															class="form-control"
															name="IndexFormMessage"
															maxlength="250"
															rows="3"
															placeholder="Your message here..."
															aria-required="true"></textarea>
													</div>
													<div class="form-group">
														<div class="captcha-form">
															<div class="captcha-form">
																<label class="control-label"
																	for="indexForm-verifyCode"
																	hidden> Verify code </label>
																<input type="text"
																	id="indexForm-verifyCode"
																	class="form-control"
																	name="IndexForm[verifyCode]"
																	placeholder="Verify code"
																	aria-invalid="true">
															</div>
														</div>
														<figure>
															<picture>
																<source srcset="../assets/images/captcha.webp"
																	type="image/webp">
																<img src="../assets/images/captcha.png"
																	title="captcha"
																	alt="captcha">
															</picture>
														</figure>
													</div>
													<a class="btn btn-primary btn-block btn-lg"
														title="Send message"
														aria-label="Send message"
														href="#"> Send message </a>
												</div>
											</div>
										</div>
									</div>
									<!--/Form -->
								</div>
							</div>
						</div>
						<!--/tab panes-->
						<!--/tags-->
						<div class="mt50">
							<h3 class="lc"> Tags </h3>
							<nav class="tags tags-a">
								<ul>
									<li class="tag">
										<a title="Garden"
											aria-label="Garden"
											href="#"> Garden </a>
									</li>
									<li class="tag">
										<a title="Painting"
											aria-label="Painting"
											href="#"> Painting </a>
									</li>
									<li class="tag">
										<a title="Plumbing"
											aria-label="Plumbing"
											href="#"> Plumbing </a>
									</li>
									<li class="tag">
										<a title="Travel"
											aria-label="Travel"
											href="#"> Travel </a>
									</li>
									<li class="tag">
										<a title="Electrical"
											aria-label="Electrical"
											href="#"> Electrical </a>
									</li>
								</ul>
							</nav>
						</div>
						<!--/tags-->
					</footer>
					<!--/more info-->
				</article>
			</section>
		</div>
		<!--/service-->
		<!--spacer-properties-->
		<div class="parallax-b"
			data-background-url="../assets/images/parallax2.jpg"
			data-fixed="true">
			<div class="overlay semi-transparent"></div>
			<div class="container fluid-md-less">
				<div class="row">
					<section class="feature feature-b center xl">
						<article class="col-sm-6 col-md-3">
							<aside class="icon">
								<i class="fa fas fa-folder fa-5x"></i>
							</aside>
							<header class="content icon-boxes">
								<p class="h2 big"> 354+ </p>
								<h2 class="h4 text-uppercase"> Projects done </h2>
							</header>
						</article>
						<article class="col-sm-6 col-md-3">
							<aside class="icon">
								<i class="fa fas fa-globe-americas fa-5x"></i>
							</aside>
							<header class="content icon-boxes">
								<p class="h2 big"> 456+ </p>
								<h2 class="h4 text-uppercase"> Clients worldwide </h2>
							</header>
						</article>
						<article class="col-sm-6 col-md-3">
							<aside class="icon">
								<i class="fa fas fa-truck fa-5x"></i>
							</aside>
							<header class="content icon-boxes">
								<p class="h2 big"> 368+ </p>
								<h2 class="h4 text-uppercase"> Owned vehicles </h2>
							</header>
						</article>
						<article class="col-sm-6 col-md-3">
							<aside class="icon">
								<i class="fa fas fa-users fa-5x"></i>
							</aside>
							<header class="content icon-boxes">
								<p class="h2 big"> 125+ </p>
								<h2 class="h4 text-uppercase"> People in team </h2>
							</header>
						</article>
					</section>
				</div>
			</div>
		</div>
		<!--/spacer-properties-->
		<!--testimonials-->
		<div class="section spacer spacer-i light">
			<div class="container fluid-md-less">
				<section class="row">
					<header class="col-md-12">
						<h2 class="big lc"> Feedback from <span>our customers</span>
							<small> Your opinion is what counts </small>
						</h2>
					</header>
					<div class="col-md-12">
						<aside class="slider">
							<div id="testimonials"
								class="carousel slide carousel-a carousel-fade full-width"
								data-ride="carousel"
								data-interval="4000">
								<div class="carousel-inner">
									<div class="item active">
										<article class="card card-testimonial card-testimonial-a">
											<header class="content">
												<h2>
													<strong> Transport </strong>
												</h2>
												<p class="h3"> I’ve been happy with the services provided by My
													Relocation. Aron Smith has been wonderful! She has returned my calls
													quickly, and she answered all my questions! </p>
											</header>
											<footer>
												<p class="h4">
													<strong> Sarah Gonzalez </strong>
													<small> Caracas, Venezuela </small>
												</p>
											</footer>
										</article>
									</div>
									<div class="item">
										<article class="card card-testimonial card-testimonial-a">
											<header class="content">
												<h2>
													<strong> Lorem ipsum dolor. </strong>
												</h2>
												<p class="h3"> Lorem ipsum dolor sit amet, consectetur adipisicing elit.
													Eligendi explicabo facere ipsa nemo vitae! A corporis eum excepturi
													incidunt, inventore nemo neque nesciunt, officia qui quibusdam quos
													sint sit totam! </p>
											</header>
											<footer>
												<p class="h4">
													<strong> Yoneiker Gonzalez </strong>
													<small> Caracas, Venezuela </small>
												</p>
											</footer>
										</article>
									</div>
								</div>
								<div class="control-box">
									<a class="left carousel-control"
										title="Prev"
										aria-label="Prev"
										data-slide="prev"
										role="button"
										href="#testimonials">
										<i class="control-icon fa fa-chevron-left"></i>
									</a>
									<a class="right carousel-control"
										aria-label="Next"
										title="Next"
										data-slide="next"
										role="button"
										href="#testimonials">
										<i class="control-icon fa fa-chevron-right"></i>
									</a>
								</div>
							</div>
						</aside>
					</div>
				</section>
			</div>
		</div>
		<!--/testimonials-->
	</main>
	<footer class="footer footer-a">
		<div class="footer">
			<div class="container fluid-md-less">
				<section class="row">
					<article class="col-md-4">
						<a title="Go to home My relocation"
							aria-label="Go to home My relocation"
							class="footer-brand"
							href="./index.html">
							<figure>
								<picture>
									<source srcset="../assets/images/logo-white.webp"
										type="image/webp">
									<img class="img-responsive collapsed-brand"
										src="../assets/images/logo-white.png"
										title="My relocation logo white"
										alt="My relocation logo white">
								</picture>
							</figure>
						</a>
						<header>
							<p> My relocation was founded in 2000, since then we are consolidated specialists in local,
								national and international removals. </p>
						</header>
						<!--social-->
						<ul class="social">
							<li>
								<a aria-label="Share on social network"
									title="Share on social network"
									href="#">
									<i class="fab fa-facebook"></i>
								</a>
							</li>
							<li>
								<a aria-label="Share on social network"
									title="Share on social network"
									href="#">
									<i class="fab fa-google-plus"></i>
								</a>
							</li>
							<li>
								<a aria-label="Share on social network"
									title="Share on social network"
									href="#">
									<i class="fab fa-twitter"></i>
								</a>
							</li>
						</ul>
						<!--/social-->
					</article>
					<article class="col-md-4">
						<header>
							<h3> Our <strong>data</strong>
							</h3>
						</header>
						<address>
							<div class="address"> La Marina ST. 35, Santa Cruz de Tenerife, Spain </div>
							<div class="address">
								<a title="Email"
									aria-label="Email"
									href="mailto: info@relocation.com"> info@relocation.com </a>
							</div>
							<div class="address"> +47 213 5941 295 </div>
							<div class="address"> +56 213 5941 295 </div>
						</address>
					</article>
					<article class="col-md-4">
						<header>
							<h3> Follow <strong>us</strong>
							</h3>
						</header>
						<aside>
						</aside>
					</article>
				</section>
			</div>
		</div>
		<div class="sub-footer">
			<div class="container fluid-md-less">
				<section class="row">
					<article class="col-md-6">
						<aside class="advice">
							<nav>
								<ul class="list-inline mb0">
									<li class="mb5">
										<a title="Cookies"
											aria-label="Cookies"
											href="./cookies.html">
											<b>Cookies</b>
										</a>
									</li>
									<li class="mb5">
										<a title="Legal warning"
											aria-label="Legal warning"
											href="./legal.html">
											<b>Legal warning</b>
										</a>
									</li>
									<li class="mb5">
										<a title="Sell conditions"
											aria-label="Sell conditions"
											href="./sellConditions.html">
											<b>Sell conditions</b>
										</a>
									</li>
									<li class="mb5">
										<a title="RGPD ( General data protection regulations )"
											aria-label="RGPD ( General data protection regulations )"
											href="./rgpd.html">
											<b>RGPD</b>
										</a>
									</li>
								</ul>
							</nav>
						</aside>
					</article>
					<article class="col-md-6">
						<header class="copyright">
							<p> <i class="<?= $icon ?>">Icon</i> 2020 Lorem ipsum dolor sit, amet consectetur
								adipisicing elit.</p>
							<p> By: <a href="#">Yoner</a>
							</p>
						</header>
					</article>
				</section>
			</div>
		</div>
	</footer>
	<script src="https://kit.fontawesome.com/d7a549f4a3.js"
		crossorigin="anonymous"></script>
	<script src="../../assets/js/jquery.min.js"></script>
	<script src="../../assets/js/bootstrap.min.js"></script>
	<script src="../assets/dist/js/main.min.js"></script>
	<script src="../../assets/js/jquery/buttons.js"></script>
	<script src="../../assets/js/jquery/helpers.js"></script>
	<script src="../../assets/js/jquery/horizontal-nav.js"></script>
	<script src="../../assets/js/jquery/sidebar.js"></script>
</body>

</html>
